@font-face {
  font-family: 'Avenir Medium';
  src: url("/fonts/AvenirLTStd-Medium.woff2") format("woff2"), url("/fonts/AvenirLTStd-Medium.woff") format("woff"), url("/fonts/AvenirLTStd-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avenir Book';
  src: url("/fonts/AvenirLTStd-Book.woff2") format("woff2"), url("/fonts/AvenirLTStd-Book.woff") format("woff"), url("/fonts/AvenirLTStd-Book.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avenir Light';
  src: url("/fonts/AvenirLTStd-Light.woff") format("woff"), url("/fonts/AvenirLTStd-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avenir Next Thin';
  src: url("/fonts/avenir-next-thin.woff") format("woff"), url("/fonts/avenir-next-thin.ttf") format("truetype");
  /* Safari, Android, iOS */
}

