<template>
    <div>
        <nprogress-container></nprogress-container>
        <q-layout ref="layout" view="lHh Lpr lFf"
                  :left-style="{'background-color': '#23303d', 'color': '#b3b9b7', 'width': '250px'}">

            <!-- Left Side Panel -->
            <div slot="left" id="sidebar">
                <q-list no-border link inset-separator>
                    <q-list-header>
                        <img src="/images/fint_logo.png" alt="fint logo" width="55px" height="55px"
                             style="display: block; margin: 3em auto 3em;"/>
                    </q-list-header>
                    <q-side-link item to="/borrowers">
                        <q-item-side icon="fa-users"/>
                        <q-item-main label="Borrowers"/>
                    </q-side-link>
                    <q-side-link item to="/lenders">
                        <q-item-side icon="fa-users"/>
                        <q-item-main label="Lenders"/>
                    </q-side-link>
                    <q-side-link item to="/loans">
                        <q-item-side icon="fa-money-bill-alt"/>
                        <q-item-main label="Loans"/>
                    </q-side-link>
                    <q-side-link item to="/schedule">
                        <q-item-side icon="fa-calendar-alt"/>
                        <q-item-main label="Schedule"/>
                    </q-side-link>
                    <q-side-link item to="/transactions">
                        <q-item-side icon="fa-exchange-alt"/>
                        <q-item-main label="Transactions"/>
                    </q-side-link>
                    <q-side-link item to="/tokens">
                        <q-item-side icon="fa-tags"/>
                        <q-item-main label="Tokens"/>
                    </q-side-link>
                    <q-side-link item to="/logs">
                        <q-item-side icon="fa-book"/>
                        <q-item-main label="Logs"/>
                    </q-side-link>
                    <q-side-link item to="/performance">
                        <q-item-side icon="fa-percent"/>
                        <q-item-main label="Performance"/>
                    </q-side-link>

                </q-list>

                <q-btn @click="logout" big
                       style="margin-top: 3em;margin-bottom: 3em;display: block;
                        margin-left: auto; margin-right: auto; font-size: 12px;">
                    LOGOUT
                </q-btn>
            </div>
            <q-btn flat @click="$refs.layout.toggleLeft()">
                <q-icon name="menu"/>
            </q-btn>
            <!-- sub-routes get injected here: -->
            <router-view/>


        </q-layout>

    </div>
</template>

<script>
    import NprogressContainer from 'vue-nprogress/src/NprogressContainer'
    import {
        QLayout,
        QBtn,
        QIcon,
        QItemSide,
        QItemMain,
        QSideLink,
        QListHeader,
        QList
    } from 'quasar-framework'

    export default {
        components: {
            QLayout,
            QBtn,
            QIcon,
            QItemSide,
            QItemMain,
            QSideLink,
            QListHeader,
            QList,
            NprogressContainer
        },
        methods: {
            logout() {
                window.location.replace('/logout')

            }
        }
    };
</script>

<style>
    body {
        font-family: "Avenir Book", sans-serif;
    }

    #sidebar {
        font-family: "Avenir Medium", sans-serif;
    }

    .nprogress-custom-parent {
        position: static !important;
    }

    .nprogress-container .bar, .nprogress-container .spinner {
        position: fixed !important;
    }

    .layout .q-list .q-icon {
        font-size: 14px !important;
    }

    .q-list-link > .q-item, .q-item-link {
        padding: 14px;
    }

    .q-item.router-link-active {
        background: #003f5b;
        color: #ffd529;
    }

    .q-item .q-item-icon {
        color: #b3b9b7
    }

    .q-item.router-link-active .q-item-icon {
        color: #ffd529;
    }

    .q-list-inset-separator > .q-item-division + .q-item-division::after, .q-item-division + .q-item-inset-separator::after {
        background: none;
    }

    .layout-aside {
        overflow: hidden
    }

    .layout-aside:hover {
        overflow: auto
    }
</style>
