<template>
    <div id="borrowers-main">
        <div class="row" style="margin-bottom: 1em">
            <q-collapsible opened icon="fa-filter" label="Filter">
                <div class="row md-gutter">
                    <div class="col-sm-2">
                        <q-input v-model="filter.borrower_id" float-label="Borrower ID" clearable
                                 @change="filter.borrower_id.length >= 2 &&
                                  /^\d+$/.test(filter.borrower_id)? filterBorrowers() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.username" float-label="Username" clearable
                                 @change="filter.username.length >= minFilterLength ? filterBorrowers() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.f_name" float-label="First Name" clearable
                                 @change="filter.f_name.length >= minFilterLength &&
                                  /^[a-zA-Z]+$/.test(filter.f_name)? filterBorrowers() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.l_name" float-label="Last Name" clearable
                                 @change="filter.l_name.length >= minFilterLength &&
                                  /^[a-zA-Z]+$/.test(filter.l_name)? filterBorrowers() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.phone" float-label="Phone" clearable
                                 @change="filter.phone.length >= 9 &&
                                  !isNaN(filter.phone) ? filterBorrowers() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.email" float-label="Email" clearable
                                 @change="filter.email.length >= minFilterLength ? filterBorrowers() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Exactly from this date">
                            <q-datetime v-model="filter.date_range.from" type="date" float-label="From"
                                        format="DD-MM-YYYY" format24h @change="filterBorrowers"/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Exactly to this date">
                            <q-datetime v-model="filter.date_range.to" type="date" float-label="To"
                                        format="DD-MM-YYYY" format24h @change="filterBorrowers"/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Taken Risk Assessment Test">
                            <q-select
                                    v-model="filter.risk_assessment"
                                    @change="filterBorrowers"
                                    :options="[{label: '', value: ''},
                                    {label: 'Has not taken', value: 'no_test'},
                                    {label: 'Has taken', value: 'taken_test'},
                                    {label: 'Has failed (old)', value: 'failed_test_old'},
                                    {label: 'Has failed (new)', value: 'failed_test_new'},
                                    {label: 'Has passed (old)', value: 'passed_test_old'},
                                    {label: 'Has passed (new)', value: 'passed_test_new'},
                                    {label: 'Has passed, no loan (new)', value: 'passed_test_no_loan_new'},
                                    {label: 'Has passed, created loan (new)', value: 'passed_test_created_loan_new'}]"
                                    float-label="Risk Assessment"
                            />
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Status of Employment">
                            <q-select
                                    v-model="filter.employment_status"
                                    @change="filterBorrowers"
                                    :options="[{label: '',value: ''},
                                    {label: 'Employed',value: 'employed'},
                                    {label: 'Employed with Side Business',value: 'employed_business'},
                                    {label: 'Business Owner',value: 'business'}]"
                                    float-label="Employment status"
                            />
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Requested a loan">
                            <q-select
                                    v-model="filter.active_loan"
                                    @change="filterBorrowers"
                                    :options="[{label: '',value: ''},
                                    {label: 'Has an active loan',value: 'has_loan'},
                                    {label: 'Has no active loan',value: 'no_loan'}]"
                                    float-label="Loan"
                            />
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Has uploaded files">
                            <q-select
                                    v-model="filter.has_files"
                                    @change="filterBorrowers"
                                    :options="[{label: '',value: ''},
                                    {label: 'Has files',value: 'has_files'},
                                    {label: 'Has no files',value: 'no_files'}]"
                                    float-label="File"
                            />
                        </q-field>
                    </div>
                    <div class="col-sm-2" style="padding-top: 43px">
                        <q-field helper="For verification">
                            <q-checkbox
                                    v-model="filter.home_verified"
                                    checked-icon="fa-home"
                                    unchecked-icon="fa-home"
                                    color="green"
                                    @change="filterBorrowers"
                                    style="padding-right: 10px;"
                            >
                                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                           :delay="1000">
                                    <small>Home</small>
                                </q-tooltip>
                            </q-checkbox>
                            <q-checkbox
                                    v-model="filter.work_verified"
                                    checked-icon="fa-building"
                                    unchecked-icon="fa-building"
                                    color="green"
                                    @change="filterBorrowers"
                                    style="padding-right: 10px;"
                            >
                                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                           :delay="1000">
                                    <small>Office</small>
                                </q-tooltip>
                            </q-checkbox>
                            <q-checkbox
                                    v-model="filter.phone_verified"
                                    checked-icon="fa-mobile-alt"
                                    unchecked-icon="fa-mobile-alt"
                                    color="green"
                                    @change="filterBorrowers"
                                    style="padding-right: 8px;"
                            >
                                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                           :delay="1000">
                                    <small>Phone</small>
                                </q-tooltip>
                            </q-checkbox>
                            <q-checkbox
                                    v-model="filter.bvn_verified"
                                    checked-icon="fa-credit-card"
                                    unchecked-icon="fa-credit-card"
                                    color="green"
                                    @change="filterBorrowers"
                            >
                                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                           :delay="1000">
                                    <small>BVN</small>
                                </q-tooltip>
                            </q-checkbox>
                        </q-field>
                    </div>
                </div>
            </q-collapsible>
        </div>

        <div class="row" v-if="borrowersData.length">
            <json-excel
                    :data="borrowersData"
                    :fields=this.validate_csv_fields
                    class="col-sm-2"
                    type="csv"
                    name="Borrowers.csv">
                <q-btn color="secondary" icon="fa-save" small
                       style="-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;">
                    Export
                </q-btn>
            </json-excel>

            <span class="col-sm-5"></span>
            <q-select
                    class="col-sm-2"
                    v-model="filter.per_page"
                    @change="filterBorrowers"
                    :options="[{label: '50 per page',value: '50'},
                                    {label: '100 per page',value: '100'},
                                    {label: '200 per page',value: '200'},
                                    {label: '500 per page',value: '500'},
                                    {label: '1000 per page',value: '1000'}]"
                    style="margin-top: 0"/>
            <span class="col-sm-1"></span>

            <span class=" col-sm-2" style=" font-weight: lighter; color: gray; font-size: 12px; padding-top: 14px">{{entries.to}} out of
                    {{entries.total}}</span>
        </div>

        <div class="row justify-center" style="margin-top: 30px;">
            <template v-for="(borrower, index) in borrowersData">
                <q-card inline :key="borrower.id"
                        :class="borrower.requested_loan? 'col-md-2 col-sm-4 shadow-1 bg-green-1'
                        :'col-md-2 col-sm-4 shadow-1'">
                    <q-card-title>
                        <span>
                            {{borrower.id}}
                            <!--<i v-if="borrower.comment_info" class="text-orange-6 fa fa-circle" style="font-size: 6px; position: relative;; bottom: 7px;"></i>-->
                        </span>
                        <span class="card-subt"
                              slot="subtitle"
                              style="font-size: 16px">{{borrower.f_name | firstCaps}} {{borrower.l_name | firstCaps}}
                            <br>
                            <small><time>{{borrower.phone}}</time></small>
                            <div v-if="borrower.requested_loan" style="margin-top: 7px;color: darkgrey;">
                                <q-btn v-ripple small flat icon="fa-external-link-alt "
                                       @click="gotoLoan(borrower.requested_loan.id)">
                                    GOTO LOAN
                                </q-btn>
                            </div>
                        </span>
                    </q-card-title>
                    <q-card-main class="row justify-center">
                        <q-btn v-ripple flat icon="fa-credit-card" small
                               :class="borrower.bvn_verified ? 'text-positive': 'text-negative'">
                            <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                       :delay="1000">
                                <small>BVN verification</small>
                            </q-tooltip>
                            <q-popover ref="popover3" anchor="top left" self="bottom left"
                                       style="padding: 10px 20px;"
                                       v-if="borrower.bvn_verified">
                                <p>Clicking "Continue" will <em>invalidate</em> the <strong>BVN</strong>
                                    of this borrower.<br>
                                    Are you sure you will like to do this, darling?
                                </p>
                                <q-btn v-ripple flat color="negative" class="pull-right"
                                       @click="unVerifyDocuments(borrower.id, 'bvn', index)">
                                    CONTINUE
                                </q-btn>
                            </q-popover>
                            <q-popover ref="popover3" anchor="top left" self="bottom left"
                                       style="padding: 20px;"
                                       v-else>
                                <div>Clicking "Continue" will <em>verify</em> the <strong>BVN</strong>
                                    of this borrower.<br>
                                    Are you sure you will like to do this, darling?
                                    <p class="text-center"
                                       style="font-size:14px; font-weight: lighter; color:#bbb; margin-bottom: 5px;">
                                        <small v-if="borrower.bvn_details">
                                            (<i class="fa fa-user" aria-hidden="true"></i>
                                            {{borrower.bvn_details.f_name}} {{borrower.bvn_details.l_name}}
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            {{borrower.bvn_details.dob}}
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            {{borrower.bvn_details.phone}})
                                        </small>
                                        <small v-else>
                                            (No BVN Record)
                                        </small>
                                    </p>
                                </div>
                                <q-btn v-ripple flat color="primary" class="pull-left"
                                       @click="resetBvnVerifyStatus(borrower.id, index)">
                                    RESET
                                </q-btn>
                                <q-btn v-ripple flat color="positive" class="pull-right"
                                       @click="verifyDocuments(borrower.id, 'bvn', index)">
                                    CONTINUE
                                </q-btn>
                            </q-popover>
                        </q-btn>
                        <q-btn v-ripple flat icon="fa-mobile-alt" small
                               :class="borrower.phone_verified ? 'text-positive': 'text-negative'">
                            <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                       :delay="1000">
                                <small>Phone verification</small>
                            </q-tooltip>
                            <q-popover ref="popover4" anchor="top left" self="bottom left"
                                       style="padding: 20px;"
                                       v-if="borrower.phone_verified">
                                <p>Clicking "Continue" will <em>invalidate</em> the <strong>phone
                                    number</strong>
                                    of this borrower.<br>
                                    Are you sure you will like to do this, sweetie?
                                </p>
                                <q-btn v-ripple flat color="negative" class="pull-right"
                                       @click="unVerifyDocuments(borrower.id, 'phone', index)">
                                    CONTINUE
                                </q-btn>
                            </q-popover>
                            <q-popover ref="popover4" anchor="top left" self="bottom left"
                                       style="padding: 20px;"
                                       v-else>
                                <p>Clicking "Continue" will <em>verify</em> the <strong>phone number</strong>
                                    of this borrower.<br>
                                    Are you sure you will like to do this, sweetie?
                                </p>
                                <q-btn v-ripple flat color="positive" class="pull-right"
                                       @click="verifyDocuments(borrower.id, 'phone', index)">
                                    CONTINUE
                                </q-btn>
                            </q-popover>
                        </q-btn>
                    </q-card-main>
                    <q-card-actions class="justify-center">
                        <q-btn v-ripple flat icon="fa-envelope-open"
                               @click="showContactModal({email: borrower.email, phone: borrower.phone, f_name: borrower.f_name})"
                               style="color: darkgrey;">CONTACT
                        </q-btn>
                        <q-btn v-ripple flat icon="fa-eye"
                               @click="showInfoModal(borrower)"
                               style="color: darkgrey;">VIEW
                        </q-btn>
                    </q-card-actions>
                </q-card>
            </template>
        </div>

        <q-fixed-position corner="bottom-right" :offset="[30, 30]">
            <q-btn
                    v-back-to-top.animate="{offset: 500, duration: 200}"
                    round
                    color="dark"
                    class="animate-pop shadow-5"
                    icon="keyboard_arrow_up"
                    style="height: 30px; width:35px;"
            />
        </q-fixed-position>

        <div>
            <q-modal minimized ref="infoModal">
                <q-btn flat class="pull-right" @click="closeModal">&times;</q-btn>
                <div style="margin: 50px;">
                    <div class="text-center" style="margin-bottom: 2em">
                        <h3 style="font-family: 'Avenir Next Thin', sans-serif; margin-bottom: 5px; font-weight: lighter;">
                            {{borrowerInfo.id}}
                        </h3>
                        <small style="color:lightgrey;">
                            {{borrowerInfo.date_joined | moment("MMM Do YYYY, h:mm:ss A")}}
                        </small>

                    </div>
                    <div>
                        <div class="row sm-gutter">
                            <div class="col-md-4 col-sm-6">
                                <strong>Middle Name</strong>
                                <p>{{borrowerInfo.m_name | firstCaps}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Username</strong>
                                <p>{{borrowerInfo.username | firstCaps}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Email</strong>
                                <q-input v-if="editInfo.email.state" v-model="borrowerInfo.email"
                                         @blur="editDetails(borrowerInfo.id, 'email', borrowerInfo.email)"/>
                                <p v-else @dblclick="editInfo.email.state = true">{{borrowerInfo.email}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Date of Birth</strong>
                                <p>{{borrowerInfo.date_of_birth | moment("MMM Do, YYYY")}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Gender</strong>
                                <p>{{borrowerInfo.gender == 1 ? 'Male' : 'Female'}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Address</strong>
                                <p>{{borrowerInfo.street_address}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Home Landmark</strong>
                                <p>{{borrowerInfo.landmark === '' ? '--' : borrowerInfo.landmark}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Home Area</strong>
                                <p>{{borrowerInfo.area === '' ? '--' : borrowerInfo.area}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>City/State</strong>
                                <p>
                                    {{(borrowerInfo.home_city == null ? borrowerInfo.town :
                                    borrowerInfo.home_city.city_name) | firstCaps}}/Lagos </p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Locative Situation</strong>
                                <p v-if="Object.keys(borrowerInfo).length > 0 && Object.keys(borrowerInfo.loan_data).length > 0"
                                   v-text="formatLocative(borrowerInfo.loan_data[0].locative)"></p>
                                <p v-else>--</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Employment Status</strong>
                                <p>{{borrowerInfo.employment_status === '' ? '--' : borrowerInfo.employment_status }}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Employer</strong>
                                <p>{{borrowerInfo.business_name}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Employment Address</strong>
                                <p>{{borrowerInfo.business_address}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Employment City/State</strong>
                                <p>
                                    {{(borrowerInfo.business_city == null ? borrowerInfo.town :
                                    borrowerInfo.business_city.city_name) | firstCaps}}/Lagos</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Business Landmark</strong>
                                <p>{{borrowerInfo.business_landmark === '' ? '--' : borrowerInfo.business_landmark}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Business Area</strong>
                                <p>{{borrowerInfo.business_area === '' ? '--' : borrowerInfo.business_area}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Requested Amount</strong>
                                <p v-if="Object.keys(borrowerInfo).length > 0 && borrowerInfo.requested_loan">
                                    &#8358;{{borrowerInfo.requested_loan.amount | formatAmount}}</p>
                                <p v-else>--</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Cash Inflow</strong>
                                <p v-if="Object.keys(borrowerInfo).length > 0 && Object.keys(borrowerInfo.loan_data).length > 0">
                                    &#8358;{{borrowerInfo.loan_data[0].cash_inflow | formatAmount}}</p>
                                <p v-else>--</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Cash Outflow</strong>
                                <p v-if="Object.keys(borrowerInfo).length > 0 && Object.keys(borrowerInfo.loan_data).length > 0">
                                    &#8358;{{borrowerInfo.loan_data[0].cash_outflow | formatAmount}}</p>
                                <p v-else>--</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>BVN</strong>
                                <p>{{borrowerInfo.bvn}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Transaction PIN</strong>
                                <p>{{borrowerInfo.transaction_pin}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6"
                                 v-if="Object.keys(borrowerInfo).length > 0 && Object.keys(borrowerInfo.accounts).length > 0">
                                <strong>Bank</strong>
                                <p>{{borrowerInfo.accounts[0].bank.bank_name}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6"
                                 v-if="Object.keys(borrowerInfo).length > 0 && Object.keys(borrowerInfo.accounts).length > 0">
                                <strong>Account Number</strong>
                                <p>{{borrowerInfo.accounts[0].account_number}}</p>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <strong>Biography</strong>
                                <p>{{borrowerInfo.bio}}</p>
                            </div>
                            <!--<div id="admin_comments" class="col-md-12 col-sm-12"-->
                            <!--style="color: gray; font-family: 'Avenir Next Thin', sans-serif">-->
                            <!--<hr class="lingrad">-->
                            <!--<strong>ADMIN COMMENTS</strong>-->
                            <!--<div style="padding-top: 10px; letter-spacing: 1px; line-height: 25px">-->
                            <!--<div v-if="!commentVars.edit">-->
                            <!--<span v-if="commentVars.commentInfo.comment">{{commentVars.commentInfo.comment}} - -->
                            <!--<span class="text-green-8" style="font-size: 12px">{{commentVars.commentInfo.admin.username}}</span>-->
                            <!--<span class="text-orange-8" style="font-size: 10px">-->
                            <!--{{commentVars.commentInfo.date_created | moment("MMM Do YYYY")}}-->
                            <!--</span>-->
                            <!--</span>-->
                            <!--<span v-else>No comments</span>-->
                            <!--&nbsp;&nbsp;-->
                            <!--<q-btn round color="secondary" icon="fa-pencil-alt"-->
                            <!--@click="commentVars.edit = true;" :disabled="commentVars.working"-->
                            <!--title="Edit"/>-->
                            <!--<q-btn v-if="commentVars.commentInfo.comment" round color="secondary"-->
                            <!--icon="fa-trash-alt" :disabled="commentVars.working"-->
                            <!--@click="commentVars.working = true; deleteComment(commentVars.commentInfo.id)" title="Delete"/>-->
                            <!--</div>-->
                            <!--<div v-else>-->
                            <!--<q-input-->
                            <!--v-model="commentVars.commentInfo.comment"-->
                            <!--type="textarea"-->
                            <!--float-label="Write/edit a comment"-->
                            <!--:max-height="100"-->
                            <!--:min-rows="3"-->
                            <!--/>-->
                            <!--<q-btn round color="primary" icon="fa-long-arrow-alt-left"-->
                            <!--@click="commentVars.edit = false" title="Canel"/>-->
                            <!--<q-btn round color="positive" icon="fa-save" :disabled="commentVars.working"-->
                            <!--@click="commentVars.working = true; editComment(commentVars.commentInfo)" title="Save"/>-->
                            <!--</div>-->
                            <!--</div>-->

                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </q-modal>
            <q-modal minimized ref="contactModal">
                <q-btn flat class="pull-right" @click="$refs.contactModal.close()">&times;</q-btn>
                <div style="margin: 50px;">
                    <q-tabs inverted color="blue-10">
                        <!-- Tabs - notice slot="title" -->
                        <q-tab default slot="title" name="email" icon="fa-envelope"/>
                        <q-tab slot="title" name="sms" icon="fa-phone"/>
                        <!-- Targets -->
                        <q-tab-pane name="email">
                            <div class="row justify-center">
                                <q-input class="col-sm-8" v-model="contactData.email"
                                         float-label="Email"/>
                                <q-input class="col-sm-8" v-model="contactData.subject"
                                         float-label="Subject"/>
                                <q-input class="col-sm-8" type="textarea" :min-rows="5" :max-height="10"
                                         v-model="contactData.message"
                                         float-label="Message"/>

                                <div class="col-sm-8" style="margin-top: 10px">
                                    <q-btn class="pull-right" v-ripple
                                           @click="sendEmail(contactData.f_name, contactData.subject,
                                           contactData.email, contactData.message)">
                                        SEND
                                    </q-btn>
                                </div>
                            </div>
                        </q-tab-pane>
                        <q-tab-pane name="sms">
                            <div class="row justify-center">
                                <q-field :count="11" class="col-sm-8">
                                    <q-input :max-length="11" v-model="contactData.phone"
                                             float-label="Phone Number"/>
                                </q-field>
                                <q-field :count="250" class="col-sm-8">
                                    <q-input type="textarea" :max-length="250" :min-rows="5" :max-height="10"
                                             v-model="contactData.message"
                                             float-label="Message"/>
                                </q-field>
                                <div class="col-sm-8" style="margin-top: 10px">
                                    <q-btn class="pull-right" v-ripple
                                           @click="sendSMS(contactData.f_name, contactData.phone, contactData.message)">
                                        SEND
                                    </q-btn>
                                </div>

                            </div>
                        </q-tab-pane>
                    </q-tabs>
                </div>
            </q-modal>
        </div>

        <div class="row justify-center" v-if="borrowersData.length < entries.total">
            <q-infinite-scroll :handler="refresher" :offset="500">
                <q-spinner-puff slot="message" :size="40" color="primary" style="margin-top: 30px;"></q-spinner-puff>
            </q-infinite-scroll>
        </div>

    </div>
</template>

<script>
    import {
        Alert,
        debounce,
        QAlert,
        QBtn,
        QCard,
        QCardActions,
        QCardMain,
        QCardTitle,
        QCollapsible,
        QDatetime,
        QField,
        QFixedPosition,
        QIcon,
        QInfiniteScroll,
        QInput,
        QItem,
        QItemMain,
        QItemSide,
        QItemTile,
        QList,
        QListHeader,
        QModal,
        QPopover,
        QSelect,
        QSpinnerPuff,
        QTab,
        QTabPane,
        QTabs,
        QTooltip,
        QCheckbox,
        Toast
    } from 'quasar-framework';
    import JsonExcel from 'vue-json-excel';

    export default {
        components: {
            QList,
            QListHeader,
            QItem,
            QItemMain,
            QItemSide,
            QItemTile,
            QCollapsible,
            QInput,
            QField,
            QBtn,
            QCard,
            QCardTitle,
            QCardMain,
            QInfiniteScroll,
            QSpinnerPuff,
            QIcon,
            QModal,
            QCardActions,
            QPopover,
            QAlert,
            Alert,
            QTooltip,
            QFixedPosition,
            QTabs,
            QTab,
            QTabPane,
            QDatetime,
            QSelect,
            JsonExcel,
            QCheckbox
        },
        data() {
            return {
                activeNames: ['1'],
                filter: {
                    borrower_id: this.$route.query.id,
                    f_name: '',
                    l_name: '',
                    username: '',
                    phone: '',
                    email: '',
                    date_range: {
                        from: '',
                        to: ''
                    },
                    risk_assessment: '',
                    employment_status: '',
                    active_loan: '',
                    has_files: '',
                    home_verified: false,
                    work_verified: false,
                    phone_verified: false,
                    bvn_verified: false,
                    page: 1,
                    per_page: '50'
                },
                borrowersData: [],
                borrowerInfo: {},
                editInfo: {
                    email: {state: false, loading: false},
                },
                text: '',
                contactData: {
                    f_name: '',
                    phone: '',
                    email: '',
                    subject: '',
                    message: ''
                },
                entries: {
                    to: '',
                    total: ''
                },
                minFilterLength: 3,
                commentVars: {
                    working: false,
                    edit: false,
                    commentInfo: {},
                }
            };
        },
        computed: {
            validate_csv_fields() {
                if (this.filter.active_loan == 'has_loan') {
                    return {
                        "Borrower ID": "id",
                        "First Name": "f_name",
                        "Last Name": "l_name",
                        "Phone": "phone",
                        "Email": "email",
                        "Duration of Loan": "requested_loan.term",
                        "Interest Rating": "requested_loan.interest_rate",
                        "Amount Requested": "requested_loan.amount",
                        "Credit Rating": "requested_loan.loan_grade",
                        "Document Status": "requested_loan.active",
                        "Request Date": "requested_loan.date_created",
                        "Days to Maturity": "requested_loan.funding_time_elapsed"
                    };
                }
                return {
                    "Borrower ID": "id",
                    "First Name": "f_name",
                    "Last Name": "l_name",
                    "Phone": "phone",
                    "Email": "email",
                };
            }
        },
        mounted() {
            if (this.$route.query.id) {
                this.filterBorrowers();
            }
        },
        methods: {
            fetchBorrowers() {
                this.$nprogress.start();
                axios
                    .get('borrowers/fetch')
                    .then(
                        function (response) {
                            this.borrowersData = response.data.data;
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            refresher(index, done) {
                this.filter.page++;
                axios
                    .get('borrowers/filter', {
                        params: this.filter
                    })
                    .then(
                        function (response) {
                            this.borrowersData.push(...response.data.data);
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            showInfoModal(borrower) {
                this.borrowerInfo = borrower;
                this.commentVars.edit = false;
                if (borrower.comment_info) {
                    this.commentVars.commentInfo = borrower.comment_info
                } else {
                    this.commentVars.commentInfo = {
                        comment: '',
                        entity_id: borrower.id,
                    }
                }
                this.$refs.infoModal.open();
            },
            showContactModal(borrower) {
                this.contactData.phone = borrower.phone;
                this.contactData.email = borrower.email;
                this.contactData.f_name = borrower.f_name;
                this.$refs.contactModal.open();
            },
            closeModal() {
                this.borrowerInfo = {};
                this.$refs.infoModal.close();
            },
            filterBorrowers: debounce(function () {
                this.$nprogress.start();
                this.filter.page = 1
                axios
                    .get('borrowers/filter', {
                        params: this.filter
                    })
                    .then(
                        function (response) {
                            this.borrowersData = response.data.data;
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            }, 1000),
            verifyDocuments(id, field, index) {
                this.$nprogress.start();
                this.closePopover(index);
                axios
                    .post('borrowers/verify', {id: id, field: field})
                    .then(
                        function (response) {
                            if (response.data) {
                                let capsField = this.firstCaps(field);
                                this.showAlert(
                                    'positive',
                                    capsField + ' verification successful'
                                );
                                if (field === 'bvn') {
                                    this.borrowersData[index].bvn_verified = 1;
                                } else if (field === 'phone') {
                                    this.borrowersData[index].phone_verified = 1;
                                }
                            }
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            unVerifyDocuments(id, field, index) {
                this.$nprogress.start();
                this.closePopover(index);
                axios
                    .post('borrowers/unverify', {id: id, field: field})
                    .then(
                        function (response) {
                            if (response.data) {
                                let capsField = this.firstCaps(field);
                                this.showAlert(
                                    'positive',
                                    capsField + ' invalidation successful'
                                );
                                if (field === 'bvn') {
                                    this.borrowersData[index].bvn_verified = 0;
                                } else if (field === 'phone') {
                                    this.borrowersData[index].phone_verified = 0;
                                }
                            }
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            resetBvnVerifyStatus(borrower_id, index) {
                this.$nprogress.start();
                this.closePopover(index);
                axios
                    .post('borrowers/resetbvnverifystatus', {id: borrower_id})
                    .then(
                        function (response) {
                            if (response.data.status) {
                                this.showAlert(
                                    'positive',
                                    'BVN status reset successful'
                                );
                            } else {
                                if (response.data.desc === 'NO_RECORD') {
                                    this.showAlert('warning', 'No BVN verification trial');
                                }
                            }
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            gotoLoan(id) {
                this.$router.push({path: 'loans', query: {id: id}})
            },
            sendEmail(f_name, subject, email, message) {
                this.$nprogress.start();
                this.$refs.contactModal.close();
                axios
                    .post('borrowers/sendmail', {f_name: f_name, subject: subject, email: email, message: message})
                    .then(
                        function (response) {
                            if (response.data.status) {
                                this.showAlert(
                                    'positive',
                                    'Mail sent successfully'
                                );
                            } else {
                                this.showAlert(
                                    'negative',
                                    'Something went wrong'
                                );
                            }
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            sendSMS(f_name, phone, message) {
                this.$nprogress.start();
                this.$refs.contactModal.close();
                axios
                    .post('borrowers/sendsms', {f_name: f_name, phone: phone, message: message})
                    .then(
                        function (response) {
                            if (response.data.status) {
                                this.showAlert(
                                    'positive',
                                    'SMS sent successfully'
                                );
                            }
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            editComment(commentInfo) {
                this.$nprogress.start();
                axios
                    .post('borrowers/editcomment', {
                        admin_id: commentInfo.admin_id,
                        entity_id: commentInfo.entity_id,
                        comment: commentInfo.comment
                    })
                    .then(
                        function (response) {
                            if (response.data.status) {
                                this.showAlert(
                                    'positive',
                                    'Comment updated successfully'
                                );
                                this.commentVars.edit = false
                                this.commentVars.working = false
                                if (response.data.username) {
                                    this.commentVars.commentInfo.admin = {}
                                    this.commentVars.commentInfo.admin.username = response.data.username
                                    this.commentVars.commentInfo.date_created = new Date()
                                    this.commentVars.commentInfo.id = response.data.id
                                }
                            }

                            this.$nprogress.done()
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            deleteComment(commentID) {
                this.$nprogress.start();
                axios
                    .post('borrowers/deletecomment', {
                        comment_id: commentID
                    })
                    .then(
                        function (response) {
                            if (response.data.status) {
                                this.showAlert(
                                    'positive',
                                    'Comment deleted successfully'
                                );
                                this.commentVars.edit = false
                                this.commentVars.working = false
                                this.commentVars.commentInfo = {
                                    comment: '',
                                    entity_id: this.borrowerInfo.id,
                                }
                            }

                            this.$nprogress.done()
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            editDetails(borrowerID, field, data) {
                this.editInfo.email.state = false
                axios
                    .post('borrowers/editDetails', {
                        borrower_id: borrowerID,
                        field : field,
                        data: data
                    })
                    .then(
                        function (response) {
                            if (response.data.status) {
                                this.showAlert(
                                    'positive',
                                    'Email updated successfully'
                                );

                            }

                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                        }.bind(this)
                    );
            },

            // Miscellaneous

            formatLocative(locative) {
                switch (locative) {
                    case 0:
                        return "Own House (fully paid for)"
                        break;
                    case 1:
                        return "Own House Mortgage"
                        break;
                    case 2:
                        return "Rented House"
                        break;
                    case 3:
                        return "Owned Apartment"
                        break;
                    case 4:
                        return "Rented Apartment"
                        break;
                    case 5:
                        return "Shared Living"
                        break;
                    case 6:
                        return "Unpaid Living"
                        break;
                    default :
                        return 'Unknown'
                }
            },
            refreshEntries() {
                this.resetFilterData();
                this.fetchBorrowers();
            },
            resetFilterData() {
                this.filter.borrower_id = '';
                this.filter.f_name = '';
                this.filter.l_name = '';
                this.filter.username = '';
                this.filter.phone = '';
                this.filter.email = '';
            },
            showAlert(type, message) {
                const alert = Alert.create({
                    enter: 'bounceInRight',
                    leave: 'bounceOutRight',
                    color: type,
                    html: message,
                    position: 'top-right',
                    duration: 3000
                });
                setTimeout(() => {
                    alert.dismiss();
                }, 3000);
            },
            showToast(type, message) {
                if (type === 'positive')
                    type = 'green'
                else if (type === 'negative')
                    type = 'red'
                else if (type === 'warning')
                    type = 'orange'

                Toast.create({
                    html: message,
                    timeout: 3000,
                    color: 'white',
                    bgColor: type,
                });
            },
            closePopover(index) {
                this.$refs.popover3[index].close();
                this.$refs.popover4[index].close();
            },
            firstCaps(string) {
                if (string == null) {
                    return;
                }
                return (
                    string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
                );
            }
        },
        filters: {
            firstCaps(string) {
                if (string == null) {
                    return;
                }
                return (
                    string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
                );
            },
            formatAmount(amount) {
                return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    };
</script>

<style>
    #borrowers-main {
        padding: 50px;
    }

    .q-collapsible .q-item-side > .fa-filter {
        font-size: 14px;
    }

    .q-collapsible .q-item-main {
        margin-left: 0;
    }

    .q-collapsible .q-btn-small {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .q-card-title,
    .card-subt {
        display: block;
        margin: 5px auto;
        text-align: center;
    }

    .q-card-title {
        font-size: 30px;
        font-weight: bold;
    }

    .q-card-main .q-btn {
        padding: 0;
    }

    .q-card-main .q-icon {
        margin-right: 10px;
        font-size: 16px;
        padding-left: 10px;
    }

    .q-card .q-card-actions .q-icon {
        font-size: 12px;
        margin-right: 5px;
    }

    .modal.minimized .modal-content {
        max-width: 70vw;
    }

    .q-alert-container {
        clear: both;
    }

    .q-tabs .q-tab .q-icon {
        font-size: 14px;
    }

    textarea, textarea.q-input-target, textarea.q-input-shadow {
        overflow: auto;
        overflow-x: auto;
        overflow-y: auto;
    }

    .q-popover .q-list .q-item-label {
        font-size: 14px;
    }

    .q-card-subtitle .q-btn-small .q-icon {
        font-size: 10px;
        margin-right: 6px;
    }

    #borrowers-main > div:nth-child(2) {
        padding-left: 20px;
    }

    .q-btn-small .q-icon.fa-save {
        font-size: 12px;
    }

    hr.lingrad {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(to right, rgba(170, 170, 170, .2) 0%, rgba(137, 137, 137, .3) 20%, rgba(0, 0, 0, .5) 49%, rgba(17, 17, 17, .5) 0%, rgba(163, 163, 163, .2) 90%);
        background-image: -moz-linear-gradient(to right, rgba(170, 170, 170, .2) 0%, rgba(137, 137, 137, .3) 20%, rgba(0, 0, 0, .5) 49%, rgba(17, 17, 17, .5) 0%, rgba(163, 163, 163, .2) 90%);
        background-image: linear-gradient(to right, rgba(170, 170, 170, .2) 0%, rgba(137, 137, 137, .3) 20%, rgba(0, 0, 0, .5) 49%, rgba(17, 17, 17, .5) 0%, rgba(163, 163, 163, .2) 90%);
        margin-bottom: 20px;
    }

    #admin_comments button {
        height: 20px;
        width: 20px;
        min-height: 20px;
    }

    #admin_comments button .q-icon {
        font-size: 10px;
        height: 12px;
    }

    #admin_comments > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
        margin-top: 0;
    }

</style>
