<template>
    <div id="lenders-main">
        <div class="row" style="margin-bottom: 1em">
            <q-collapsible opened icon="fa-filter" label="Filter">
                <div class="row md-gutter">
                    <div class="col-sm-2">
                        <q-input v-model="filter.lender_id" float-label="Lender ID" clearable
                                 @change="filter.lender_id.length >= 2 &&
                                  /^\d+$/.test(filter.lender_id)? filterLenders() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.username" float-label="Username" clearable
                                 @change="filter.username.length >= minFilterLength ? filterLenders() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.f_name" float-label="First Name" clearable
                                 @change="filter.f_name.length >= minFilterLength &&
                                  /^[a-zA-Z]+$/.test(filter.f_name)? filterLenders() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.l_name" float-label="Last Name" clearable
                                 @change="filter.l_name.length >= minFilterLength &&
                                  /^[a-zA-Z]+$/.test(filter.l_name)? filterLenders() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.phone" float-label="Phone" clearable
                                 @change="filter.phone.length >= 9 &&
                                  !isNaN(filter.phone) ? filterLenders() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.email" float-label="Email" clearable
                                 @change="filter.email.length >= minFilterLength ? filterLenders() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Exactly from this date">
                            <q-datetime v-model="filter.date_range.from" type="date" float-label="From"
                                        format="DD-MM-YYYY" format24h @change="filterLenders"/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Exactly to this date">
                            <q-datetime v-model="filter.date_range.to" type="date" float-label="To"
                                        format="DD-MM-YYYY" format24 @change="filterLenders"/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Funded a loan">
                            <q-select
                                    v-model="filter.has_funded_loan"
                                    @change="filterLenders"
                                    :options="[{label: '',value: ''},
                                    {label: 'Has funded a loan',value: 'funded_loan'},
                                    {label: 'Has NOT funded a loan',value: 'no_loan'}]"
                                    float-label="Loan"
                            />
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Status of Loan Payback">
                            <q-select
                                    v-model="filter.payback_status"
                                    @change="filterLenders"
                                    :options="[{label: '',value: ''},
                                    {label: 'Successful',value: 'success'},
                                    {label: 'Failed',value: 'failed'},
                                    {label: 'Pending',value: 'pending'}]"
                                    float-label="Status"
                            />
                        </q-field>
                    </div>
                </div>
            </q-collapsible>
        </div>

        <div class="row" v-if="lendersData.length">
            <json-excel
                    :data="lendersData"
                    :fields="csv_fields"
                    class="col-sm-2"
                    type="csv"
                    name="Lenders.csv">
                <q-btn color="secondary" icon="fa-save" small
                       style="-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;">
                    Export
                </q-btn>
            </json-excel>

            <span class="col-sm-5"></span>
            <q-select
                    class="col-sm-2"
                    v-model="filter.per_page"
                    @change="filterLenders"
                    :options="[{label: '50 per page',value: '50'},
                                    {label: '100 per page',value: '100'},
                                    {label: '200 per page',value: '200'},
                                    {label: '500 per page',value: '500'},
                                    {label: '1000 per page',value: '1000'}]"
                    style="margin-top: 0"/>
            <span class="col-sm-1"></span>

            <span class=" col-sm-2" style=" font-weight: lighter; color: gray; font-size: 12px; padding-top: 14px">{{entries.to}} out of
                    {{entries.total}}</span>
        </div>

        <div class="row justify-center" style="margin-top: 30px;">
            <template v-for="(lender, index) in lendersData">

                <q-card inline
                        :class="lender.notes.length? 'col-md-2 col-sm-4 shadow-1 bg-green-1'
                        :'col-md-2 col-sm-4 shadow-1'">
                    <label @click="gotoLoan(lender.id)" v-if="lender.notes.length" class="pull-right"
                           style="background-color: darkolivegreen; color: whitesmoke; font-size: 12px; padding: 3px 7px; border-radius: 45%; cursor:pointer; ">{{lender.notes.length}}</label>
                    <q-card-title>
                        <span>{{lender.id}}</span>
                        <span class="card-subt"
                              slot="subtitle"
                              style="font-size: 16px">{{lender.f_name | firstCaps}} {{lender.l_name | firstCaps}}
                            <br>
                            <small><time>{{lender.phone}}</time></small>
                        </span>

                    </q-card-title>
                    <q-card-actions class="justify-center">
                        <q-btn v-ripple flat icon="fa-envelope-open"
                               @click="showContactModal({email: lender.email, phone: lender.phone, f_name: lender.f_name})"
                               style="color: darkgrey;">CONTACT
                        </q-btn>
                        <q-btn v-ripple flat icon="fa-eye"
                               @click="showInfoModal(lender)"
                               style="color: darkgrey;">VIEW
                        </q-btn>
                    </q-card-actions>
                </q-card>
            </template>
        </div>

        <q-fixed-position corner="bottom-right" :offset="[30, 30]">
            <q-btn
                    v-back-to-top.animate="{offset: 500, duration: 200}"
                    round
                    color="dark"
                    class="animate-pop shadow-5"
                    icon="keyboard_arrow_up"
                    style="height: 30px; width:35px;"
            />
        </q-fixed-position>
        <div>
            <q-modal minimized ref="infoModal">
                <q-btn flat class="pull-right" @click="closeModal">&times;</q-btn>
                <div style="margin: 50px;">
                    <div class="text-center" style="margin-bottom: 2em">
                        <h3 style="font-weight: lighter; margin-bottom: 5px;">
                            {{lenderInfo.id}}</h3>
                        <small style="color:lightgrey;">
                            {{lenderInfo.date_joined | moment("MMM Do YYYY, h:mm:ss A")}}
                        </small>
                    </div>
                    <div>
                        <div class="row sm-gutter">
                            <div class="col-md-4 col-sm-6">
                                <strong>Middle Name</strong>
                                <p>{{lenderInfo.m_name | firstCaps}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Username</strong>
                                <p>{{lenderInfo.username | firstCaps}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Email</strong>
                                <p>{{lenderInfo.email}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Date of Birth</strong>
                                <p>{{lenderInfo.date_of_birth | moment("MMM Do, YYYY")}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Gender</strong>
                                <p>{{lenderInfo.gender == 1 ? 'Male' : 'Female'}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>BVN</strong>
                                <p>{{lenderInfo.bvn}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Transaction PIN</strong>
                                <p>{{lenderInfo.transaction_pin}}</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <strong>Total Amount Invested</strong>
                                <p>&#8358;{{total_amount_invested | formatAmount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </q-modal>
            <q-modal minimized ref="contactModal">
                <q-btn flat class="pull-right" @click="$refs.contactModal.close()">&times;</q-btn>
                <div style="margin: 50px;">
                    <q-tabs inverted color="blue-10">
                        <!-- Tabs - notice slot="title" -->
                        <q-tab default slot="title" name="email" icon="fa-envelope"/>
                        <q-tab slot="title" name="sms" icon="fa-phone"/>
                        <!-- Targets -->
                        <q-tab-pane name="email">
                            <div class="row justify-center">
                                <q-input class="col-sm-8" v-model="contactData.email" float-label="Email"/>
                                <q-input class="col-sm-8" v-model="contactData.subject"
                                         float-label="Subject"/>
                                <q-input class="col-sm-8" type="textarea" :min-rows="5" :max-height="10"
                                         v-model="contactData.message"
                                         float-label="Message"/>

                                <div class="col-sm-8" style="margin-top: 10px">
                                    <q-btn class="pull-right" v-ripple
                                           @click="sendEmail(contactData.f_name, contactData.subject,
                                           contactData.email, contactData.message)">SEND
                                    </q-btn>
                                </div>
                            </div>
                        </q-tab-pane>
                        <q-tab-pane name="sms">
                            <div class="row justify-center">
                                <q-field :count="11" class="col-sm-8">
                                    <q-input :max-length="11" v-model="contactData.phone"
                                             float-label="Phone Number"/>
                                </q-field>
                                <q-field :count="250" class="col-sm-8">
                                    <q-input type="textarea" :max-length="145" :min-rows="5" :max-height="10"
                                             v-model="contactData.message"
                                             float-label="Message"/>
                                </q-field>
                                <div class="col-sm-8" style="margin-top: 10px">
                                    <q-btn class="pull-right" v-ripple
                                           @click="sendSMS(contactData.f_name, contactData.phone, contactData.message)">
                                        SEND
                                    </q-btn>
                                </div>
                            </div>
                        </q-tab-pane>
                    </q-tabs>
                </div>
            </q-modal>
        </div>

        <div class="row justify-center" v-if="lendersData.length < entries.total">
            <q-infinite-scroll :handler="refresher" :offset="500">
                <q-spinner-puff slot="message" :size="40" color="primary" style="margin-top: 30px;"></q-spinner-puff>
            </q-infinite-scroll>
        </div>

    </div>
</template>

<script>
    import {
        QList,
        QListHeader,
        QItem,
        QItemMain,
        QItemSide,
        QItemTile,
        QCollapsible,
        QInput,
        QField,
        QBtn,
        QCard,
        QCardTitle,
        QCardMain,
        QInfiniteScroll,
        QSpinnerPuff,
        QIcon,
        QModal,
        QCardActions,
        QPopover,
        debounce,
        QAlert,
        Alert,
        QTooltip,
        QFixedPosition,
        QTabs,
        QTab,
        QTabPane,
        QDatetime,
        QSelect,
    } from 'quasar-framework';
    import JsonExcel from 'vue-json-excel';

    export default {
        components: {
            QList,
            QListHeader,
            QItem,
            QItemMain,
            QItemSide,
            QItemTile,
            QCollapsible,
            QInput,
            QField,
            QBtn,
            QCard,
            QCardTitle,
            QCardMain,
            QInfiniteScroll,
            QSpinnerPuff,
            QIcon,
            QModal,
            QCardActions,
            QPopover,
            QAlert,
            Alert,
            QTooltip,
            QFixedPosition,
            QTabs,
            QTab,
            QTabPane,
            QDatetime,
            QSelect,
            JsonExcel,
        },
        data() {
            return {
                activeNames: ['1'],
                filter: {
                    lender_id: this.$route.query.id,
                    f_name: '',
                    l_name: '',
                    username: '',
                    phone: '',
                    email: '',
                    date_range: {
                        from: '',
                        to: ''
                    },
                    has_funded_loan: '',
                    payback_status: '',
                    page: 1,
                    per_page: '50'
                },
                lendersData: [],
                lenderInfo: {},
                text: '',
                contactData: {
                    f_name: '',
                    phone: '',
                    email: '',
                    subject: '',
                    message: ''
                },
                csv_fields: {
                    "Lender ID": "id",
                    "First Name": "f_name",
                    "Last Name": "l_name",
                    "Phone": "phone",
                    "Email": "email"
                },
                entries: {
                    to: '',
                    total: ''
                },
                minFilterLength: 3
            };
        },
        computed: {
            total_amount_invested() {
                let lenderInfo = this.lenderInfo
                if (Object.keys(lenderInfo).length > 0 && Object.keys(lenderInfo.notes).length > 0) {
                    let total_amount = 0
                    for (let note of lenderInfo.notes) {
                        total_amount += note.amount_in
                    }
                    return total_amount
                }
                return 0
            }
        },
        mounted() {
            if (this.$route.query.id) {
                this.filterLenders();
            }
        },
        methods: {
            fetchLenders() {
                this.$nprogress.start();
                axios
                    .get('lenders/fetch')
                    .then(
                        function (response) {
                            this.lendersData = response.data.data;
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            refresher(index, done) {
                this.filter.page++;
                axios
                    .get('lenders/filter', {
                        params: this.filter
                    })
                    .then(
                        function (response) {
                            this.lendersData.push(...response.data.data);
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            showInfoModal(lender) {
                this.lenderInfo = lender;
                this.$refs.infoModal.open();
            },
            showContactModal(lender) {
                this.contactData.phone = lender.phone;
                this.contactData.email = lender.email;
                this.contactData.f_name = lender.f_name;
                this.$refs.contactModal.open();
            },
            closeModal() {
                this.lenderInfo = {};
                this.$refs.infoModal.close();
            },
            filterLenders: debounce(function () {
                this.$nprogress.start();
                this.filter.page = 1
                axios
                    .get('lenders/filter', {
                        params: this.filter
                    })
                    .then(
                        function (response) {
                            this.lendersData = response.data.data;
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            }, 1000),
            gotoLoan(investor_id) {
                this.$router.push({path: 'loans', query: {investor_id: investor_id}})
            },
            sendEmail(f_name, subject, email, message) {
                this.$nprogress.start();
                this.$refs.contactModal.close();
                axios
                    .post('borrowers/sendmail', {f_name: f_name, subject: subject, email: email, message: message})
                    .then(
                        function (response) {
                            if (response.data.status) {
                                this.showAlert(
                                    'positive',
                                    'Mail sent successfully'
                                );
                            } else {
                                this.showAlert(
                                    'negative',
                                    'Something went wrong'
                                );
                            }
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            sendSMS(f_name, phone, message) {
                this.$nprogress.start();
                this.$refs.contactModal.close();
                axios
                    .post('borrowers/sendsms', {f_name: f_name, phone: phone, message: message})
                    .then(
                        function (response) {
                            if (response.data.status) {
                                this.showAlert(
                                    'positive',
                                    'SMS sent successfully'
                                );
                            }
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },

            // Miscellaneous

            refreshEntries() {
                this.resetFilterData();
                this.fetchLenders();
            },
            resetFilterData() {
                this.filter.lender_id = '';
                this.filter.f_name = '';
                this.filter.l_name = '';
                this.filter.username = '';
                this.filter.phone = '';
                this.filter.email = '';
            },
            showAlert(type, message) {
                const alert = Alert.create({
                    enter: 'bounceInRight',
                    leave: 'bounceOutRight',
                    color: type,
                    html: message,
                    position: 'top-right',
                    duration: 3000
                });
                setTimeout(() => {
                    alert.dismiss();
                }, 3000);
            },
            firstCaps(string) {
                if (string == null) {
                    return;
                }
                return (
                    string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
                );
            }
        },
        filters: {
            firstCaps(string) {
                if (string == null) {
                    return;
                }
                return (
                    string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
                );
            },
            formatAmount(amount) {
                return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    };
</script>

<style>
    #lenders-main {
        padding: 50px;
    }

    .q-collapsible .q-item-side > .fa-filter {
        font-size: 14px;
    }

    .q-collapsible .q-item-main {
        margin-left: 0;
    }

    .q-collapsible .q-btn-small {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .q-card-title,
    .card-subt {
        display: block;
        margin: 5px auto;
        text-align: center;
    }

    .card-subt {
        margin-bottom: 10px;
    }

    .q-card-title {
        font-size: 30px;
        font-weight: bold;
    }

    .q-card-main .q-btn {
        padding: 0;
    }

    .q-card-main .q-icon {
        margin-right: 10px;
        font-size: 16px;
        padding-left: 10px;
    }

    .q-card .q-card-actions .q-icon {
        font-size: 12px;
        margin-right: 5px;
    }

    .modal.minimized .modal-content {
        max-width: 70vw;
    }

    .q-alert-container {
        clear: both;
    }

    .q-tabs .q-tab .q-icon {
        font-size: 14px;
    }

    textarea, textarea.q-input-target, textarea.q-input-shadow {
        overflow: auto;
        overflow-x: auto;
        overflow-y: auto;
    }

    .q-popover .q-list .q-item-label {
        font-size: 14px;
    }

    .q-card > label {
        position: relative;
        top: -9px;
        right: -8px;
    }

    #lenders-main > div:nth-child(2) {
        padding-left: 20px;
    }

    .q-btn-small .q-icon.fa-save {
        font-size: 12px;
    }
</style>
