<template>
    <div id="loans-main">
        <div class="row" style="margin-bottom: 1em">
            <q-collapsible opened icon="fa-filter" label="Filter">
                <div class="row md-gutter">
                    <div class="col-sm-2">
                        <q-input v-model="filter.loan_id" float-label="Loan ID" clearable
                                 @change="filter.loan_id.length >= minFilterLength &&
                                  /^\d+$/.test(filter.loan_id)? filterLoans() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.borrower_id" float-label="Borrower ID" clearable
                                 @change="filter.borrower_id.length >= 2 &&
                                  /^\d+$/.test(filter.borrower_id)? filterLoans() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.investor_id" float-label="Lender ID" clearable
                                 @change="filter.investor_id.length >= 2 &&
                                  /^\d+$/.test(filter.investor_id)? filterLoans() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.loan_title" float-label="Loan Title" clearable
                                 @change="filter.loan_title.length >= minFilterLength ? filterLoans() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-select
                                v-model="filter.loan_grade"
                                :options="[{label: '',value: ''},
                                    {label: 'A++',value: 'A++'},
                                    {label: 'A+',value: 'A+'},
                                    {label: 'A',value: 'A'},
                                    {label: 'A-',value: 'A-'},
                                    {label: 'B+',value: 'B+'},
                                    {label: 'B',value: 'B'},
                                    {label: 'B-',value: 'B-'},
                                    {label: 'C+',value: 'C+'},
                                    {label: 'C',value: 'C'},
                                    {label: 'C-',value: 'C-'}]"
                                float-label="Loan Grade"
                                @change="filterLoans"
                        />
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Choose loan term">
                            <q-select
                                    v-model="filter.loan_term"
                                    @change="filterLoans"
                                    :options="[{label: '',value: ''},
                                    {label: '3 months',value: '3'},
                                    {label: '6 months',value: '6'},
                                    {label: '12 months',value: '12'},
                                    {label: '18 months',value: '18'},
                                    {label: '24 months',value: '24'}]"
                                    float-label="Loan Term"
                            />
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Greater than this rate">
                            <q-input v-model="filter.interest_rate" float-label="Interest Rate" clearable
                                     @change="Number.isSafeInteger(filter.interest_rate) ? filterLoans() : '' "/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Greater than this amount">
                            <q-input v-model="filter.amount.from" float-label="From Amount" clearable
                                     @change="filter.amount.from >= 60000 && filter.amount.from <= 2000000 &&
                                        Number.isSafeInteger(filter.amount.from) ? filterLoans() : '' "/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Less than this amount">
                            <q-input v-model="filter.amount.to" float-label="To Amount" clearable
                                     @change="filter.amount.to >= 60000 && filter.amount.to <= 2000000 &&
                                        Number.isSafeInteger(filter.amount.to) ? filterLoans() : '' "/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Exactly from this date">
                            <q-datetime v-model="filter.date_range.from" type="date" float-label="From"
                                        format="DD-MM-YYYY" format24h @change="filterLoans"/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Exactly to this date">
                            <q-datetime v-model="filter.date_range.to" type="date" float-label="To"
                                        format="DD-MM-YYYY" format24h @change="filterLoans"/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Fully funded / Disbursed">
                            <q-select
                                    v-model="filter.funded"
                                    @change="filterLoans"
                                    :options="[{label: '',value: ''},
                                    {label: 'Not fully funded',value: 'not_fully_funded'},
                                    {label: 'Fully funded',value: 'fully_funded'},
                                    {label: 'Disbursed',value: 'has_disbursed'},
                                    {label: 'Fully funded not disbursed',value: 'fully_funded_not_disbursed'}]"
                                    float-label="Funded/Disbursed"
                            />
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Has uploaded files">
                            <q-select
                                    v-model="filter.has_files"
                                    @change="filterLoans"
                                    :options="[{label: '',value: ''},
                                    {label: 'Has files',value: 'has_files'},
                                    {label: 'Has no files',value: 'no_files'}]"
                                    float-label="File"
                            />
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Choose loan type">
                            <q-select
                                    v-model="filter.loan_type"
                                    @change="filterLoans"
                                    :options="[{label: '',value: ''},
                                    {label: 'Repaid Loans',value: 'repaid'},
                                    {label: 'Expired Loans',value: 'expired'},
                                    {label: 'Canceled Loans',value: 'canceled'},
                                    {label: 'Defaulted Loans',value: 'defaulted'}]"
                                    float-label="Loan Type"
                            />
                        </q-field>
                    </div>
                    <div class="col-sm-2" style="padding-top: 43px">
                        <q-field helper="For verification">
                            <q-checkbox
                                    v-model="filter.home_verified"
                                    checked-icon="fa-home"
                                    unchecked-icon="fa-home"
                                    color="green"
                                    @change="filterLoans"
                            >
                                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                           :delay="1000">
                                    <small>Home</small>
                                </q-tooltip>
                            </q-checkbox>
                            <q-checkbox
                                    v-model="filter.work_verified"
                                    checked-icon="fa-building"
                                    unchecked-icon="fa-building"
                                    color="green"
                                    @change="filterLoans"
                            >
                                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                           :delay="1000">
                                    <small>Office</small>
                                </q-tooltip>
                            </q-checkbox>
                            <q-checkbox
                                    v-model="filter.phone_verified"
                                    checked-icon="fa-mobile-alt"
                                    unchecked-icon="fa-mobile-alt"
                                    color="green"
                                    @change="filterLoans"
                            >
                                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                           :delay="1000">
                                    <small>Phone</small>
                                </q-tooltip>
                            </q-checkbox>
                            <q-checkbox
                                    v-model="filter.bvn_verified"
                                    checked-icon="fa-credit-card"
                                    unchecked-icon="fa-credit-card"
                                    color="green"
                                    @change="filterLoans"
                                    style="padding-right: 8px;"
                            >
                                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                           :delay="1000">
                                    <small>BVN</small>
                                </q-tooltip>
                            </q-checkbox>
                            <q-checkbox
                                    v-model="filter.bank_stat_verified"
                                    checked-icon="fa-newspaper"
                                    unchecked-icon="fa-newspaper"
                                    color="green"
                                    @change="filterLoans"
                            >
                                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                           :delay="1000">
                                    <small>Bank Statement</small>
                                </q-tooltip>
                            </q-checkbox>
                        </q-field>
                    </div>

                </div>
            </q-collapsible>
        </div>

        <div class="row" v-if="loansData.length">
            <json-excel
                    :data="loansData"
                    :fields="csv_fields"
                    type="csv"
                    name="data.csv"
                    v-if="loansData.length"
                    class="col-sm-2">
                <q-btn color="secondary" icon="fa-save" small
                       style="-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;">
                    Export
                </q-btn>
            </json-excel>

            <span class="col-sm-5"></span>
            <q-select
                    class="col-sm-2"
                    v-model="filter.per_page"
                    @change="filterLoans"
                    :options="[{label: '50 per page',value: '50'},
                                    {label: '100 per page',value: '100'},
                                    {label: '200 per page',value: '200'},
                                    {label: '500 per page',value: '500'},
                                    {label: '1000 per page',value: '1000'}]"
                    style="margin-top: 0"/>
            <span class="col-sm-1"></span>

            <span class=" col-sm-2" style=" font-weight: lighter; color: gray; font-size: 12px; padding-top: 14px">{{entries.to}} out of
                    {{entries.total}}</span>
        </div>

        <div class="row justify-center" style="margin-top: 30px;">
            <template v-for="(loan, index) in loansData">
                <q-card inline
                        :class="{'bg-deep-purple-1': loan.disbursed == 1,
                        'bg-green-1': loan.disb_clear == 1 && loan.disbursed == 0 && loan.funded_amount == 0,
                        'bg-orange-1': loan.funded_amount > 0 && loan.funded_amount < loan.amount && loan.disbursed == 0,
                        'bg-blue-1': loan.amount == loan.funded_amount && loan.disbursed == 0,
                        'col-md-2 col-sm-4 shadow-1' : true}">
                    <q-card-title>
                        <span>{{loan.id}}</span>
                        <span class="card-subt"
                              slot="subtitle"
                              style="font-size: 16px;">
                            {{loan.title | firstCaps}}
                            <br/>
                            <small>&#8358;{{loan.funded_amount | formatAmount}} / &#8358;{{loan.amount | formatAmount}}</small>
                            <br/>
                            <small>{{loan.term}} | {{loan.loan_grade}} | {{loan.interest_rate}}%</small>
                        </span>
                    </q-card-title>
                    <q-card-main class="row justify-center" style="text-align: center;vertical-align: middle;">
                        <q-btn v-ripple flat icon="fa-home" small
                               :class="loan.borrower.address_verified ? 'text-positive': 'text-negative'">
                            <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                       :delay="1000">
                                <small>Home verification</small>
                            </q-tooltip>
                            <q-popover ref="popover1" anchor="top left" self="bottom left"
                                       style="padding: 20px;"
                                       v-if="loan.borrower.address_verified">
                                <p>Clicking "Continue" will <em>invalidate</em> the <strong>home</strong>
                                    of this borrower.<br>
                                    Are you sure you will like to do this, baby?
                                </p>
                                <q-btn v-ripple flat small color="negative" class="pull-right"
                                       @click="unVerifyDocuments(loan.id, loan.borrower.id, 'home', index)">
                                    Continue
                                </q-btn>
                            </q-popover>
                            <q-popover ref="popover1" anchor="top left" self="bottom left"
                                       style="padding: 20px;"
                                       v-else>
                                <p>Clicking "Continue" will <em>verify</em> the <strong>home</strong>
                                    of this borrower.<br>
                                    Are you sure you will like to do this, baby?
                                </p>
                                <q-btn v-ripple flat small color="positive" class="pull-right"
                                       @click="verifyDocuments(loan.id, loan.borrower.id, 'home', index)">
                                    Continue
                                </q-btn>
                            </q-popover>
                        </q-btn>
                        <q-btn v-ripple flat icon="fa-building" small
                               :class="loan.borrower.work_address_verified ? 'text-positive': 'text-negative'">
                            <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                       :delay="1000">
                                <small>Employment verification</small>
                            </q-tooltip>
                            <q-popover ref="popover2" anchor="top left" self="bottom left"
                                       style="padding: 20px;"
                                       v-if="loan.borrower.work_address_verified">
                                <p>Clicking "Continue" will <em>invalidate</em> the <strong>employment</strong>
                                    of this borrower.<br>
                                    Are you sure you will like to do this, sweetie?
                                </p>
                                <q-btn v-ripple flat small color="negative" class="pull-right"
                                       @click="unVerifyDocuments(loan.id, loan.borrower.id, 'office', index)">
                                    Continue
                                </q-btn>
                            </q-popover>
                            <q-popover ref="popover2" anchor="top left" self="bottom left"
                                       style="padding: 20px;"
                                       v-else>
                                <p>Clicking "Continue" will <em>verify</em> the <strong>employment</strong>
                                    of this borrower.<br>
                                    Are you sure you will like to do this, sweetie?
                                </p>
                                <q-btn v-ripple flat small color="positive" class="pull-right"
                                       @click="verifyDocuments(loan.id, loan.borrower.id, 'office', index)">
                                    Continue
                                </q-btn>
                            </q-popover>
                        </q-btn>
                        <q-btn v-ripple flat icon="fa-newspaper" small
                               :class="loan.bank_stat_verified ? 'text-positive': 'text-negative'">
                            <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                       :delay="1000">
                                <small>Bank Statement verification</small>
                            </q-tooltip>
                            <q-popover ref="popover3" anchor="top left" self="bottom left"
                                       style="padding: 20px;"
                                       v-if="loan.bank_stat_verified">
                                <p>Clicking "Continue" will <em>invalidate</em> the <strong>bank statement</strong>
                                    of this borrower.<br>
                                    Are you sure you will like to do this, sweetie?
                                </p>
                                <q-btn v-ripple flat small color="negative" class="pull-right"
                                       @click="unVerifyDocuments(loan.id, loan.borrower.id, 'bank_statement', index)">
                                    Continue
                                </q-btn>
                            </q-popover>
                            <q-popover ref="popover3" anchor="top left" self="bottom left"
                                       style="padding: 20px;"
                                       v-else>
                                <p>Clicking "Continue" will <em>verify</em> the <strong>bank statement</strong>
                                    of this borrower.<br>
                                    Are you sure you will like to do this, sweetie?
                                </p>
                                <q-btn v-ripple flat small color="positive" class="pull-right"
                                       @click="verifyDocuments(loan.id, loan.borrower.id, 'bank_statement', index)">
                                    Continue
                                </q-btn>
                            </q-popover>
                        </q-btn>
                        <q-btn v-ripple flat icon="fa-file" small
                               :class="loan.files.length > 0 ? 'text-positive': 'text-negative'">
                            <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]"
                                       :delay="1000">
                                <small>Files</small>
                            </q-tooltip>
                            <q-popover ref="popover3" anchor="top left" self="bottom left"
                                       v-if="loan.files.length > 0">
                                <q-list separator highlight no-border style="font-size: 12px">
                                    <q-list-header>Documents</q-list-header>
                                    <q-item v-for="file in loan.files" :key="file.id"
                                            @click="$refs.popover3[index].close()">
                                        <a :href="`//fint.ng/borrowers_portal/public/static/documents/${file.url}`"
                                           target="_blank">
                                            <q-item-main :label="file.filetype.description"/>
                                        </a>
                                    </q-item>
                                </q-list>
                            </q-popover>

                            <q-popover ref="popover3" anchor="top left" self="bottom left"
                                       style="padding: 20px;"
                                       v-else>
                                No files
                            </q-popover>
                        </q-btn>
                    </q-card-main>
                    <q-card-actions class="justify-center">
                        <q-btn v-ripple flat icon="fa-user"
                               @click="gotoBorrower(loan.borrower.id)"
                               style="color: darkgrey;">{{loan.borrower.id}}
                        </q-btn>
                        <q-btn v-ripple flat icon="fa-eye"
                               @click="showInfoModal(loan, index)"
                               style="color: darkgrey;">VIEW
                        </q-btn>
                    </q-card-actions>
                </q-card>
            </template>
        </div>

        <q-fixed-position corner="bottom-right" :offset="[30, 30]">
            <q-btn
                    v-back-to-top.animate="{offset: 500, duration: 200}"
                    round
                    color="dark"
                    class="animate-pop shadow-5"
                    icon="keyboard_arrow_up"
                    style="height: 30px; width:35px;"
            />
        </q-fixed-position>

        <div>
            <q-modal minimized ref="infoModal" class="scroll"
                     @close="closeTabs()">
                <q-btn flat class="pull-right" @click="closeModal">&times;</q-btn>

                <div style="margin: 50px;" v-if="Object.keys(loanInfo).length > 0">
                    <div class="text-center" style="margin-bottom: 2em">
                        <h3 style="font-weight: lighter; margin-bottom: 5px;">
                            {{loanInfo.id}}</h3>
                        <small style="color:lightgrey;">
                            {{loanInfo.date_created | moment("MMM Do YYYY, h:mm:ss A")}}
                        </small>
                    </div>
                    <div>
                        <div class="row sm-gutter">
                            <div class="col-sm-4">
                                <strong>Risk Score</strong>
                                <p>{{loanInfo.borrower_risk_score}}</p>
                            </div>
                            <div class="col-sm-4">
                                <strong>Purpose</strong>
                                <p>{{loanInfo.purpose.purpose_name}}</p>
                            </div>
                            <div class="col-sm-4">
                                <strong>Date created</strong>
                                <p>{{loanInfo.date_created | moment("MMM Do YYYY")}}</p>
                            </div>
                            <div class="col-sm-4" v-if="loanInfo.date_disbursed != '0000-00-00 00:00:00'">
                                <strong>Date disbursed</strong>
                                <p>{{loanInfo.date_disbursed | moment("MMM Do YYYY")}}</p>
                            </div>
                            <div class="col-sm-4" v-if="loanInfo.date_disbursed != null">
                                <strong>Total Payback</strong>
                                <p>&#8358;{{loanInfo.payback_due | formatAmount}}</p>
                            </div>
                            <div class="col-sm-4" v-if="loanInfo.date_disbursed != null">
                                <strong>Monthly Payback</strong>
                                <p>&#8358;{{Math.round(loanInfo.payback_due / loanInfo.term) | formatAmount}}</p>
                            </div>
                        </div>
                        <div class="row sm-gutter justify-center" style="margin-top: 10px;">
                            <div class="col-sm-4 text-center" v-if="loanInfo.disbursed == 0 && filter.loan_type == ''">
                                <q-btn v-ripple flat color="positive" v-if="loanInfo.disb_clear == 0"
                                       @click="clearLoan(loanInfo.id, 'clear')">
                                    CLEAR LOAN
                                </q-btn>
                                <q-btn v-ripple flat color="orange" v-else
                                       @click="clearLoan(loanInfo.id, 'unclear')">
                                    UNCLEAR LOAN
                                </q-btn>
                            </div>
                            <div class="col-sm-4 text-center" v-if="loanInfo.disbursed == 1">
                                <q-btn v-ripple flat color="orange" v-if="filter.loan_type == ''"
                                       @click="showRemarkDialog('mark_default', loanInfo.id)">
                                    MARK AS DEFAULT
                                </q-btn>
                                <q-btn v-ripple flat color="positive" v-if="filter.loan_type == 'defaulted'"
                                       @click="showRemarkDialog('unmark_default', loanInfo.id)">
                                    MOVE OUT OF DEFAULT
                                </q-btn>
                            </div>
                            <div class="col-sm-4 text-center" v-if="loanInfo.disbursed == 1">
                                <q-btn v-ripple flat color="blue" v-if="filter.loan_type == ''"
                                       @click="showPaybackDialog(loanInfo.id)">
                                    CONFIRM PAYBACK
                                </q-btn>
                            </div>
                            <div class="col-sm-4 text-center" v-if="loanInfo.disbursed == 1">
                                <q-btn v-ripple flat color="green" v-if="filter.loan_type == ''"
                                       @click="showDialog('sweep_card', loanInfo.id)">
                                    SWEEP CARD
                                </q-btn>
                            </div>
                            <div class="col-sm-4 text-center" v-if="loanInfo.disbursed == 0 && filter.loan_type == ''">
                                <q-btn v-ripple flat color="negative"
                                       @click="showDialog('cancel_loan', loanInfo.id)">
                                    CANCEL LOAN
                                </q-btn>
                            </div>

                            <div class="col-sm-4 text-center" v-if="loanInfo.disbursed == 0 && filter.loan_type == ''
                             && loanInfo.funded_amount < loanInfo.amount && loanInfo.disb_clear == 1 ">
                                <q-btn v-ripple flat color="secondary"
                                       @click="showFundDialog(loanInfo.id)">
                                    FUND LOAN
                                </q-btn>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px;">
                            <div class="col">
                                <q-list no-border separator>
                                    <q-collapsible ref="lendersTab" group="lenders-paybacks-purpose-answers"
                                                   icon="fa-users"
                                                   label="Lenders" :disable="loanInfo.investments.length == 0">
                                        <div class="row" v-if="loanInfo.investments.length">
                                            <table class="q-table striped-odd loose col-sm-12">
                                                <tbody>
                                                <tr v-for="investment in loanInfo.investments">
                                                    <td class="text-center">{{investment.investor_id}}</td>
                                                    <td class="text-center">{{investment.lender.username}}</td>
                                                    <td class="text-center">{{investment.amount_in}}</td>
                                                    <td class="text-center">
                                                        {{investment.date_created | moment("MMM Do, YYYY")}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </q-collapsible>
                                    <q-collapsible ref="paybacksTab" group="lenders-paybacks-purpose-answers"
                                                   icon="fa-calendar-alt"
                                                   label="Paybacks" :disable="loanInfo.paybacks.length == 0">
                                        <div class="row" v-if="loanInfo.paybacks.length">
                                            <table id="payback-table" class="q-table striped-odd loose col-sm-12">
                                                <tbody>
                                                <tr v-for="payback in loanInfo.paybacks"
                                                    :style="{color: payback.success == 1 ? 'green':
                                                    payback.percent_paid > 0 ? 'orange':
                                                    payback.attempts > 0 && payback.percent_paid == 0 ? 'red': 'grey'}">
                                                    <td class="text-center">#{{payback.installment}}</td>
                                                    <td class="text-center">
                                                        {{payback.set_date | moment("MMM Do, YYYY")}}
                                                    </td>
                                                    <td class="text-center">{{payback.attempts}} Attempt(s)</td>
                                                    <td class="text-center">
                                                        {{
                                                        payback.success == 1 ? 'SUCCESS':
                                                        payback.attempts > 0 && payback.percent_paid > 0 ?
                                                        payback.percent_paid + '%':
                                                        payback.attempts > 0 && payback.percent_paid == 0 ? 'FAILED' :
                                                        'PENDING'
                                                        }}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </q-collapsible>
                                    <q-collapsible ref="purposeTab" group="lenders-paybacks-purpose-answers"
                                                   icon="fa-anchor"
                                                   label="Purpose" @open="getProposal(loanInfo.write_up)">
                                        <div v-if="/^\d+$/.test(loanInfo.write_up)" class="text-center">
                                            <p>
                                                <q-spinner-puff :size="40" color="primary"></q-spinner-puff>
                                            </p>
                                        </div>
                                        <div v-else class="text-center">
                                            {{loanInfo.write_up}}
                                        </div>
                                    </q-collapsible>
                                    <q-collapsible ref="answersTab" group="lenders-paybacks-purpose-answers"
                                                   icon="fa-comments"
                                                   label="Test Answers" @open="getTestAnswers(loanInfo.borrower.id)"
                                                   v-if="filter.loan_type === '' ">
                                        <div v-if="!(loanInfo.hasOwnProperty('test_answers'))" class="text-center">
                                            <p>
                                                <q-spinner-puff :size="40" color="primary"></q-spinner-puff>
                                            </p>
                                        </div>
                                        <div v-else class="text-center">
                                            <div class="row sm-gutter"
                                                 v-if="Object.keys(loanInfo.test_answers).length > 0"
                                                 style="padding-top: 10px;">
                                                <div class="col-sm-4" v-for="(value, key) in loanInfo.test_answers">
                                                    <strong>{{key}}</strong>
                                                    <p>{{value}}</p>
                                                </div>
                                            </div>
                                            <div class="text-center" v-else>
                                                <span style="font-family: 'Avenir Next Thin', sans-serif">Test answers not available</span>
                                            </div>
                                        </div>
                                    </q-collapsible>
                                </q-list>

                            </div>
                        </div>
                    </div>
                </div>
            </q-modal>
        </div>

        <div class="row justify-center" v-if="loansData.length < entries.total">
            <q-infinite-scroll :handler="refresher" :offset="500">
                <q-spinner-puff slot="message" :size="40" color="primary" style="margin-top: 30px;"></q-spinner-puff>
            </q-infinite-scroll>
        </div>

    </div>
</template>

<script>
    import {
        Alert,
        debounce,
        QAlert,
        QBtn,
        QCard,
        QCardActions,
        QCardMain,
        QCardTitle,
        QCollapsible,
        QDatetime,
        QField,
        QFixedPosition,
        QIcon,
        QInfiniteScroll,
        QInput,
        QItem,
        QItemMain,
        QItemSide,
        QItemTile,
        QList,
        QListHeader,
        QModal,
        QPopover,
        QSelect,
        QSpinnerPuff,
        QTab,
        QTabPane,
        QTabs,
        QTooltip,
        Dialog,
        QCheckbox
    } from 'quasar-framework';
    import JsonExcel from 'vue-json-excel';

    export default {
        components: {
            QList,
            QListHeader,
            QItem,
            QItemMain,
            QItemSide,
            QItemTile,
            QCollapsible,
            QInput,
            QField,
            QBtn,
            QCard,
            QCardTitle,
            QCardMain,
            QInfiniteScroll,
            QSpinnerPuff,
            QIcon,
            QModal,
            QCardActions,
            QPopover,
            QAlert,
            Alert,
            QTooltip,
            QFixedPosition,
            QTabs,
            QTab,
            QTabPane,
            QDatetime,
            QSelect,
            JsonExcel,
            QCheckbox
        },
        data: function () {
            return {
                activeNames: ['1'],
                filter: {
                    loan_id: this.$route.query.id,
                    borrower_id: this.$route.query.borrower_id,
                    investor_id: this.$route.query.investor_id,
                    loan_title: '',
                    loan_grade: '',
                    interest_rate: '',
                    loan_term: '',
                    amount: {
                        from: '',
                        to: ''
                    },
                    date_range: {
                        from: '',
                        to: ''
                    },
                    funded: '',
                    disbursed: '',
                    has_files: '',
                    loan_type: '',
                    home_verified: false,
                    work_verified: false,
                    phone_verified: false,
                    bvn_verified: false,
                    bank_stat_verified: false,
                    page: 1,
                    per_page: '50'
                },
                loansData: [],
                loanInfo: {},
                loanInfoIndex: '',
                text: '',
                contactData: {
                    loanPhone: '',
                    loanEmail: '',
                    message: ''
                },
                csv_fields: {
                    "Loan ID": "id",
                    "First Name": "borrower.f_name",
                    "Last Name": "borrower.l_name",
                    "Phone": "borrower.phone",
                    "Email": "borrower.email",
                    "Duration of Loan": "term",
                    "Interest Rating": "interest_rate",
                    "Amount Requested": "amount",
                    "Credit Rating": "loan_grade",
                    "Document Status": "active",
                    "Request Date": "date_created",
                    "Days to Maturity": "funding_time_elapsed"
                },
                entries: {
                    to: '',
                    total: ''
                },
                minFilterLength: 3
            };
        },
        computed: {
            filterBaseUrl() {
                if (this.filter.loan_type === '') {
                    return 'loans'
                } else if (this.filter.loan_type === 'repaid') {
                    return 'loans/repaid'
                } else if (this.filter.loan_type === 'expired') {
                    return 'loans/expired'
                } else if (this.filter.loan_type === 'canceled') {
                    return 'loans/canceled'
                } else if (this.filter.loan_type === 'defaulted') {
                    return 'loans/defaulted'
                }
            }
        },
        mounted() {
            if (this.$route.query.id ||
                this.$route.query.investor_id ||
                this.$route.query.borrower_id) {
                this.filterLoans();
            }
            // this.filterLoans();
        },
        methods: {
            fetchLoans() {
                this.$nprogress.start();
                axios
                    .get('loans/fetch')
                    .then(
                        function (response) {
                            this.loansData = response.data.data;
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            refresher(index, done) {
                this.filter.page++;
                axios
                    .get('loans/filter', {
                        params: this.filter
                    })
                    .then(
                        function (response) {
                            this.loansData.push(...response.data.data);
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            showInfoModal(loan, index) {
                this.loanInfo = loan
                this.loanInfoIndex = index
                this.$refs.infoModal.open()
            },
            closeModal() {
                this.loanInfo = {};
                this.$refs.infoModal.close();
            },
            closeTabs() {
                this.$refs.lendersTab.close();
                this.$refs.paybacksTab.close();
                this.$refs.purposeTab.close()
            },
            verifyDocuments(loan_id, borrower_id, field, index) {
                this.$nprogress.start();
                this.closePopover(index);
                axios
                    .post('loans/verify', {loan_id: loan_id, borrower_id: borrower_id, field: field})
                    .then(
                        function (response) {
                            if (response.data) {
                                let capsField = this.firstCaps(field);
                                this.showAlert(
                                    'positive',
                                    capsField + ' verification successful'
                                );
                                if (field === 'home') {
                                    this.loansData[index].borrower.address_verified = 1;
                                } else if (field === 'office') {
                                    this.loansData[index].borrower.work_address_verified = 1;
                                } else if (field === 'bank_statement') {
                                    this.loansData[index].bank_stat_verified = 1;
                                }

                                if (this.loansData[index].borrower.address_verified === 1 &&
                                    this.loansData[index].borrower.work_address_verified === 1 &&
                                    this.loansData[index].bank_stat_verified === 1) {
                                    this.loansData[index].disb_clear = 1;
                                }
                            }
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            unVerifyDocuments(loan_id, borrower_id, field, index) {
                this.$nprogress.start();
                this.closePopover(index);
                axios
                    .post('loans/unverify', {loan_id: loan_id, borrower_id: borrower_id, field: field})
                    .then(
                        function (response) {
                            if (response.data) {
                                let capsField = this.firstCaps(field);
                                this.showAlert(
                                    'positive',
                                    capsField + ' invalidation successful'
                                );
                                if (field === 'home') {
                                    this.loansData[index].borrower.address_verified = 0;
                                } else if (field === 'office') {
                                    this.loansData[index].borrower.work_address_verified = 0;
                                } else if (field === 'bank_statement') {
                                    this.loansData[index].bank_stat_verified = 0;
                                }

                                if (this.loansData[index].disbursed === 0) {
                                    this.loansData[index].disb_clear = 0;
                                }
                            }
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            filterLoans: debounce(function () {
                this.$nprogress.start()
                this.filter.page = 1
                axios
                    .get(this.filterBaseUrl + '/filter', {
                        params: this.filter
                    })
                    .then(
                        function (response) {
                            this.loansData = response.data.data;
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            this.$nprogress.done();
                        }.bind(this))
                    .catch(
                        function (err) {
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            }, 1000),
            getProposal(write_up) {
                if (/^\d+$/.test(this.loanInfo.write_up)) {
                    axios
                        .post(this.filterBaseUrl + '/fetchproposal', {write_up: write_up})
                        .then(function (response) {
                            this.loanInfo.write_up = response.data;
                        }.bind(this))
                        .catch(function (err) {
                            console.error(err);
                        }.bind(this));
                }
            },
            clearLoan(loan_id, action) {
                this.$nprogress.start();
                axios.post('loans/clear', {loan_id: loan_id, action: action})
                    .then(function (response) {
                        if (response.data) {
                            if (action == 'clear') {
                                this.showAlert(
                                    'positive',
                                    'Loan ' + loan_id + ' cleared for disbursement'
                                );
                                this.loansData[this.loanInfoIndex].disb_clear = 1;
                                this.loanInfo.disb_clear = 1;
                            } else {
                                this.showAlert(
                                    'positive',
                                    'Loan ' + loan_id + ' uncleared for disbursement'
                                );
                                this.loansData[this.loanInfoIndex].disb_clear = 0;
                                this.loanInfo.disb_clear = 0;
                            }
                        }
                        this.$nprogress.done();
                    }.bind(this))
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            cancelLoan(loan_id) {
                this.$nprogress.start();
                axios.post('loans/cancel', {loan_id: loan_id})
                    .then(function (response) {
                        if (response.data === true) {
                            this.showAlert(
                                'positive',
                                'Loan ' + loan_id + ' cancelled successfully'
                            );

                            let index = this.loanInfoIndex;
                            if (index > -1) {
                                this.loansData.splice(index, 1);
                            }
                            this.loanInfoIndex = ''
                            this.closeModal()
                        } else {
                            this.showAlert('negative', 'Response error occurred');
                        }
                        this.$nprogress.done();
                    }.bind(this))
                    .catch(function (err) {
                            this.showAlert('negative', 'Error occurred');
                            this.$nprogress.done();
                        }.bind(this)
                    );
            },
            markAsDefault(loan_id, remark) {
                this.$nprogress.start();
                axios.post('loans/markasdefault', {loan_id: loan_id, remark: remark})
                    .then(function (response) {
                        if (response.data === true) {
                            this.showAlert(
                                'positive',
                                'Loan ' + loan_id + ' successfully tagged as default'
                            );

                            let index = this.loanInfoIndex;
                            if (index > -1) {
                                this.loansData.splice(index, 1);
                            }
                            this.loanInfoIndex = ''
                            this.closeModal()
                        } else {
                            this.showAlert('negative', 'Response error occurred');
                        }
                        this.$nprogress.done();
                    }.bind(this))
                    .catch(function (err) {
                            this.showAlert('negative', 'Error occurred');
                            this.$nprogress.done();
                        }.bind(this)
                    );
            },
            moveOutOfDefault(loan_id, remark) {
                this.$nprogress.start();
                axios.post('loans/moveoutofdefault', {loan_id: loan_id, remark: remark})
                    .then(function (response) {
                        if (response.data === true) {
                            this.showAlert(
                                'positive',
                                'Loan ' + loan_id + ' successfully moved out of default'
                            );

                            let index = this.loanInfoIndex;
                            if (index > -1) {
                                this.loansData.splice(index, 1);
                            }
                            this.loanInfoIndex = ''
                            this.closeModal()
                        } else {
                            this.showAlert('negative', 'Response error occurred');
                        }
                        this.$nprogress.done();
                    }.bind(this))
                    .catch(function (err) {
                            this.showAlert('negative', 'Error occurred');
                            this.$nprogress.done();
                        }.bind(this)
                    );
            },
            fundLoan(loan_id, remark) {
                this.$nprogress.start();
                axios.post('loans/fundloan', {loan_id: loan_id, amount: remark.amount, lender_id: remark.lender_id})
                    .then(function (response) {
                        if (response.data.status === true) {
                            this.showAlert(
                                'positive',
                                'Loan ' + loan_id + ' funded successfully'
                            );
                            this.loanInfo.funded_amount += parseInt(remark.amount);
                            this.loanInfo.investments = response.data.lenders;
                        } else if (response.data.status === false) {
                            this.showAlert(
                                'warning',
                                response.data.errors,
                                false
                            );
                        } else {
                            this.showAlert('negative', 'Response error occurred');
                        }
                        this.$nprogress.done();
                    }.bind(this))
                    .catch(function (err) {
                            this.showAlert('negative', 'Error occurred');
                            this.$nprogress.done();
                        }.bind(this)
                    );
            },
            confirmPayback(loan_id, amount) {
                this.$nprogress.start();
                axios.post('loans/confirmpayback', {loan_id: loan_id, amount: amount})
                    .then(function (response) {
                        if (response.data.status === true) {
                            this.showAlert(
                                'positive',
                                'Payback confirmed successfully'
                            );
                            let index = this.loansData[0].paybacks.findIndex(function (payback) {
                                return payback.success === 0;
                            })
                            if (index >= 0) {
                                this.loansData[0].paybacks[index].attempts += 1;
                                this.loansData[0].paybacks[index].success = 1;
                                this.loansData[0].paybacks[index].percent_paid = 100;
                            }

                            // to check when loan is fully paid
                            index = this.loansData[0].paybacks.findIndex(function (payback) {
                                return payback.success === 0;
                            })
                            if (index < 0) {
                                let index = this.loanInfoIndex;
                                if (index > -1) {
                                    this.loansData.splice(index, 1);
                                }
                                this.loanInfoIndex = ''
                                this.closeModal()
                            }

                        } else {
                            this.showAlert('negative', 'Response error occurred');
                        }
                        this.$nprogress.done();
                    }.bind(this))
                    .catch(function (err) {
                            this.showAlert('negative', 'Error occurred');
                            this.$nprogress.done();
                        }.bind(this)
                    );
            },
            gotoBorrower(id) {
                this.$router.push({path: 'borrowers', query: {id: id}})
            },
            getTestAnswers(borrower_id) {
                if (true) {
                    axios
                        .post(this.filterBaseUrl + '/fetchtestanswers', {borrower_id: borrower_id})
                        .then(function (response) {
                            this.$set(this.loanInfo, 'test_answers', response.data)
                        }.bind(this))
                        .catch(function (err) {
                            console.error(err);
                        }.bind(this));
                }
            },
            sweepCard(loan_id) {
                this.$nprogress.start();
                let config = {
                    headers: {
                        "X-Apikey": "FINT_sk_jTjkuui5gcZw8svkpWMQBQZioh07jyuz"
                    }
                }
                axios({
                    method: 'post',
                    url: 'https://fint.ng/sandbox-api/api/sweep/initialize/' + loan_id,
                    headers: {
                        "X-Apikey": "FINT_sk_jTjkuui5gcZw8svkpWMQBQZioh07jyuz",
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                })
                    .then(function (response) {
                        let data = response.data
                        if (data.status === 'success') {
                            this.showAlert(
                                'positive',
                                'Card Sweep successful'
                            );
                            let index = this.loanInfo.paybacks.findIndex(function (elem) {
                                return elem.id == data.meta.payback_id
                            })
                            this.$set(this.loanInfo.paybacks[index], 'percent_paid', data.meta.percent_paid)
                            this.$set(this.loansData[0].paybacks[index], 'percent_paid', data.meta.percent_paid)
                        } else if (data.status === 'failed') {
                            this.showAlert(
                                'warning',
                                data.message
                            );
                        }

                        this.$nprogress.done();
                    }.bind(this))
                    .catch(
                        function (err) {
                            this.showAlert('negative', 'Operation error occurred');
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },

            // Miscellaneous

            refreshEntries() {
                this.resetFilterData();
                this.fetchLoans();
            },
            resetFilterData() {
                this.filter.loan_id = '';
                this.filter.f_name = '';
                this.filter.l_name = '';
                this.filter.username = '';
                this.filter.phone = '';
                this.filter.email = '';
            },
            showAlert(type, message, autoclear = true) {
                const alert = Alert.create({
                    enter: 'bounceInRight',
                    leave: 'bounceOutRight',
                    color: type,
                    html: message,
                    position: 'top-right',
                    duration: 3000
                });
                if (autoclear === true) {
                    setTimeout(() => {
                        alert.dismiss();
                    }, 5000);
                }
            },
            showRemarkDialog(type, loan_id) {
                Dialog.create({
                    title: 'Prompt',
                    message: 'Please enter the reason for performing this operation',
                    form: {
                        name: {
                            type: 'text',
                            label: 'Why are you doing this?',
                            model: ''
                        }
                    },
                    buttons: [
                        {
                            label: 'Cancel',
                            color: 'negative'
                        },
                        {
                            label: 'Continue',
                            handler: (data) => {
                                if (type === 'mark_default') {
                                    this.showDialog('mark_default', loan_id, {info: data.name})
                                } else {
                                    this.showDialog('unmark_default', loan_id, {info: data.name})
                                }
                            }
                        }
                    ]
                })
            },
            showFundDialog(loan_id) {
                Dialog.create({
                    title: 'Prompt',
                    message: 'Please fill the form with accurate details',
                    form: {
                        amount: {
                            type: 'number',
                            label: 'Amount to fund',
                            model: '',
                            min: 20000,
                            max: 2000000
                        },
                        lender_id: {
                            type: 'number',
                            label: 'Lender ID',
                            model: ''
                        }
                    },
                    buttons: [
                        {
                            label: 'Cancel',
                            color: 'negative'
                        },
                        {
                            label: 'Continue',
                            handler: (data) => {
                                this.showDialog('fund_loan', loan_id, {
                                    amount: data.amount,
                                    lender_id: data.lender_id
                                })
                            }
                        }
                    ]
                })
            },
            showPaybackDialog(loan_id) {
                Dialog.create({
                    title: 'Prompt',
                    message: 'Please fill the form with accurate details',
                    form: {
                        amount: {
                            type: 'number',
                            label: 'Amount to update',
                            model: ''
                        }
                    },
                    buttons: [
                        {
                            label: 'Cancel',
                            color: 'negative'
                        },
                        {
                            label: 'Continue',
                            handler: (data) => {
                                this.showDialog('confirm_payback', loan_id, data.amount)
                            }
                        }
                    ]
                })
            },
            showDialog(type, loan_id, extras = null) {
                Dialog.create({
                    title: 'Confirm',
                    message: 'Are you sure you want to do this?',
                    buttons: [
                        {
                            label: 'Cancel',
                            color: 'negative'
                        },
                        {
                            label: 'Alright',
                            handler: () => {
                                if (type === 'cancel_loan') {
                                    this.cancelLoan(loan_id);
                                } else if (type === 'mark_default') {
                                    this.markAsDefault(loan_id, extras.info)
                                } else if (type === 'unmark_default') {
                                    this.moveOutOfDefault(loan_id, extras.info)
                                } else if (type === 'fund_loan') {
                                    this.fundLoan(loan_id, extras)
                                } else if (type === 'confirm_payback') {
                                    this.confirmPayback(loan_id, extras)
                                } else if (type === 'sweep_card') {
                                    this.sweepCard(loan_id);
                                }
                            }
                        }
                    ]
                })
            },
            closePopover(index) {
                this.$refs.popover1[index].close();
                this.$refs.popover2[index].close();
                this.$refs.popover3[index].close();
            },
            firstCaps(string) {
                if (string == null) {
                    return;
                }
                return (
                    string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
                );
            },
            getDateFromTimestamp(timestamp) {

            }
        },
        filters: {
            firstCaps(string) {
                if (string == null) {
                    return;
                }
                return (
                    string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
                );
            },
            formatAmount(amount) {
                return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            roundUp(value) {
                return Math.round(value)
            },
        }
    };
</script>

<style>
    #loans-main {
        padding: 50px;
    }

    .q-collapsible .q-item-side > .fa-filter {
        font-size: 14px;
    }

    .q-collapsible .q-item-main {
        margin-left: 0;
    }

    .q-collapsible .q-btn-small {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .q-card-title,
    .card-subt {
        display: block;
        margin: 5px auto;
        text-align: center;
    }

    .card-subt {
        margin-bottom: 10px;
    }

    .q-card-title {
        font-size: 30px;
        font-weight: bold;
    }

    .q-card-main .q-btn {
        padding: 0;
    }

    .q-card-main .q-icon {
        margin-right: 10px;
        font-size: 16px;
        padding-left: 5px;
    }

    .q-card .q-card-actions .q-icon {
        font-size: 12px;
        margin-right: 5px;
    }

    .modal.minimized .modal-content {
        max-width: 70vw;
    }

    .q-alert-container {
        clear: both;
    }

    .q-tabs .q-tab .q-icon {
        font-size: 14px;
    }

    textarea, textarea.q-input-target, textarea.q-input-shadow {
        overflow: auto;
        overflow-x: auto;
        overflow-y: auto;
    }

    .q-popover .q-list .q-item-label {
        font-size: 14px;
    }

    .q-tab .q-tab-label {
        color: #444444;
    }

    .q-chip {
        padding: 0 8px;
        font-size: 12px;
    }

    .no-pointer-events {
        opacity: 0.5;
    }

    .q-collapsible .q-icon {
        font-size: 14px;
    }

    .q-list-separator > .q-item-division + .q-item-division, .q-item-division + .q-item-separator {
        border-top: 1px solid #dddddd;
    }

    #payback-table {
        font-size: 14px;
    }

    #payback-table tr td:nth-child(4) {
        font-size: 10px;
        font-weight: bold;
    }

    #loans-main > div:nth-child(2) {
        padding-left: 20px;
    }

    .q-btn-small .q-icon.fa-save,
    .q-btn-small .q-icon.fa-pencil-alt {
        font-size: 12px;
    }
</style>
