<template>
    <div id="schedule-main">
        <div class="row" style="margin-bottom: 1em">
            <q-collapsible opened icon="fa-filter" label="Filter">
                <div class="row md-gutter">
                    <div class="col-sm-2">
                        <q-input v-model="filter.loan_id" float-label="Loan ID" clearable
                                 @change="(filter.loan_id.length >= 2 && /^\d+$/.test(filter.loan_id) )
                                 || filter.loan_id.length === 0 ? filterSchedule() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.borrower_id" float-label="Borrower ID" clearable
                                 @change="(filter.borrower_id.length >= 2 && /^\d+$/.test(filter.borrower_id))
                                 || filter.borrower_id.length === 0 ? filterSchedule() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.lender_id" float-label="Lender ID" clearable
                                 @change="(filter.lender_id.length >= 2 && /^\d+$/.test(filter.lender_id))
                                 || filter.lender_id.length === 0 ? filterSchedule() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Exactly from this date">
                            <q-datetime v-model="filter.date_range.from" type="date" float-label="From"
                                        format="DD-MM-YYYY" format24h @change="filterSchedule"/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Exactly to this date">
                            <q-datetime v-model="filter.date_range.to" type="date" float-label="To"
                                        format="DD-MM-YYYY" format24h @change="filterSchedule"/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Status of attempt">
                            <q-select
                                    v-model="filter.attempted"
                                    @change="filterSchedule"
                                    :options="[{label: '',value: ''},
                                    {label: 'Successful',value: 'success'},
                                    {label: 'Failed',value: 'failed'},
                                    {label: 'Pending',value: 'pending'}]"
                                    float-label="Status"
                            />
                        </q-field>
                    </div>
                </div>
            </q-collapsible>
        </div>

        <div class="row" v-if="scheduleData.length">
            <json-excel
                    :data="scheduleData"
                    :fields="csv_fields"
                    class="col-sm-2"
                    type="csv"
                    name="Schedule.csv">
                <q-btn color="secondary" icon="fa-save" small
                       style="-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;">
                    Export
                </q-btn>
            </json-excel>

            <span class="col-sm-5"></span>
            <q-select
                    class="col-sm-2"
                    v-model="filter.per_page"
                    @change="filterSchedule"
                    :options="[{label: '50 per page',value: '50'},
                                    {label: '100 per page',value: '100'},
                                    {label: '200 per page',value: '200'},
                                    {label: '500 per page',value: '500'},
                                    {label: '1000 per page',value: '1000'}]"
                    style="margin-top: 0"/>
            <span class="col-sm-1"></span>

            <span class="col-sm-2" style=" font-weight: lighter; color: gray; font-size: 12px; padding-top: 14px">{{entries.to}} out of
                    {{entries.total}}</span>
        </div>

        <div class="row justify-center" style="margin-top: 30px;">
            <table class="q-table responsive loose" v-if="scheduleData.length > 0">
                <thead>
                <tr>
                    <th>INSTALLMENT</th>
                    <th>LOAN ID</th>
                    <th>BORR. ID</th>
                    <th>AMOUNT</th>
                    <th v-if="filter.lender_id !== '' ">PAYABLE</th>
                    <th>ATTEMPTS</th>
                    <th>STATUS</th>
                    <th class="text-center">DATE</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="(schedule, index) in scheduleData"
                    :style="{'background-color': schedule.success == 1 ? '#E8F5E9' :
                        schedule.percent_paid > 0 ? '#FFECB3':
                        schedule.attempts > 0 && schedule.percent_paid == 0 ? '#FBE9E7' : ''}">
                    <td data-th="INSTALLMENT">#{{schedule.installment}}</td>
                    <td data-th="LOAN ID" title="Click to navigate to loan details"
                        @click="gotoLoan(schedule.loan_id)"> {{schedule.loan_id}}
                    </td>
                    <td data-th="BORROWER ID" title="Click to navigate to borrower details"
                        @click="gotoBorrower(schedule.borrower_id)">{{schedule.borrower_id}}
                    </td>
                    <td data-th="AMOUNT">&#8358;{{schedule.amount | formatAmount}}</td>
                    <td data-th="PAYABLE" v-if="filter.lender_id !== '' ">&#8358;{{schedule.lender_payable | formatAmount}}</td>
                    <td data-th="ATTEMPTS">{{schedule.attempts}}</td>
                    <td data-th="SUCCESS" :style="{'font-size': '12px', 'font-weight': 'bold',
                        color: schedule.success == 1 ? '#4CAF50' :
                        schedule.attempts > 0 && schedule.percent_paid > 0 ? '#FF6F00' :
                        schedule.attempts > 0 && schedule.percent_paid == 0 ? '#BF360C' : '#9E9E9E'}">
                        {{
                        schedule.success ? 'SUCCESS' :
                        schedule.attempts > 0 && schedule.percent_paid > 0 ? schedule.percent_paid + '% (&#8358;' + schedule.percent_paid_computed +  ')' :
                        schedule.attempts > 0 && schedule.percent_paid == 0 ? 'FAILED' :
                        'PENDING'
                        }}
                    </td>
                    <td data-th="DATE" class="text-center">{{schedule.set_date | moment("MMM Do, YYYY") }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <q-fixed-position corner="bottom-right" :offset="[30, 30]">
            <q-btn
                    v-back-to-top.animate="{offset: 500, duration: 200}"
                    round
                    color="dark"
                    class="animate-pop shadow-5"
                    icon="keyboard_arrow_up"
                    style="height: 30px; width:35px;"
            />
        </q-fixed-position>

        <div class="row justify-center" v-if="scheduleData.length < entries.total">
            <q-infinite-scroll :handler="refresher" :offset="500">
                <q-spinner-puff slot="message" :size="40" color="primary" style="margin-top: 30px;"></q-spinner-puff>
            </q-infinite-scroll>
        </div>

    </div>
</template>

<script>
    import {
        debounce,
        QBtn,
        QCollapsible,
        QDatetime,
        QField,
        QFixedPosition,
        QInfiniteScroll,
        QInput,
        QSelect,
        QSpinnerPuff,
    } from 'quasar-framework';
    import JsonExcel from 'vue-json-excel';

    export default {
        components: {
            QCollapsible,
            QDatetime,
            QBtn,
            QInput,
            QField,
            QInfiniteScroll,
            QSpinnerPuff,
            QFixedPosition,
            QSelect,
            JsonExcel,
        },
        data() {
            return {
                activeNames: ['1'],
                filter: {
                    loan_id: '',
                    borrower_id: '',
                    lender_id: '',
                    date_range: {
                        from: '',
                        to: ''
                    },
                    attempted: '',
                    page: 1,
                    per_page: '100'
                },
                scheduleData: [],
                text: '',
                csv_fields: {
                    "Investment": "installment",
                    "Loan ID": "loan_id",
                    "Borrower ID": "borrower_id",
                    "Amount": "amount",
                    "Payable": "lender_payable",
                    "Attempts": "attempts",
                    "Success": "success",
                    "Date": "set_date"
                },
                entries: {
                    to: '',
                    total: ''
                },
                minFilterLength: 3
            };
        },
        computed: {},
        mounted() {
            // this.filterSchedule();
        },
        methods: {
            fetchSchedule() {
                this.$nprogress.start();
                axios
                    .get('schedule/fetch')
                    .then(
                        function (response) {
                            this.scheduleData = response.data.data;
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            refresher(index, done) {
                this.filter.page++;
                axios
                    .get('schedule/filter', {
                        params: this.filter
                    })
                    .then(
                        function (response) {
                            this.scheduleData.push(...response.data.data);
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            filterSchedule: debounce(function () {
                this.$nprogress.start();
                this.filter.page = 1
                axios
                    .get('schedule/filter', {
                        params: this.filter
                    })
                    .then(
                        function (response) {
                            this.scheduleData = response.data.data;
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            }, 1000),
            gotoLoan(loan_id) {
                this.$router.push({path: 'loans', query: {id: loan_id}})
            },
            gotoBorrower(borrower_id) {
                this.$router.push({path: 'borrowers', query: {id: borrower_id}})
            },

            // Miscellaneous

            refreshEntries() {
                this.resetFilterData();
                this.fetchSchedule();
            },
            resetFilterData() {
                this.filter.lender_id = '';
                this.filter.f_name = '';
                this.filter.l_name = '';
                this.filter.username = '';
                this.filter.phone = '';
                this.filter.email = '';
            },
            showAlert(type, message) {
                const alert = Alert.create({
                    enter: 'bounceInRight',
                    leave: 'bounceOutRight',
                    color: type,
                    html: message,
                    position: 'top-right',
                    duration: 3000
                });
                setTimeout(() => {
                    alert.dismiss();
                }, 3000);
            },
            firstCaps(string) {
                if (string == null) {
                    return;
                }
                return (
                    string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
                );
            }
        },
        filters: {
            firstCaps(string) {
                if (string == null) {
                    return;
                }
                return (
                    string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
                );
            },
            formatAmount(amount) {
                return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    };
</script>

<style>
    #schedule-main {
        padding: 50px;
    }

    .q-collapsible .q-item-side > .fa-filter {
        font-size: 14px;
    }

    .q-collapsible .q-item-main {
        margin-left: 0;
    }

    .q-collapsible .q-btn-small {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .q-alert-container {
        clear: both;
    }

    textarea, textarea.q-input-target, textarea.q-input-shadow {
        overflow: auto;
        overflow-x: auto;
        overflow-y: auto;
    }

    .q-popover .q-list .q-item-label {
        font-size: 14px;
    }

    #schedule-main th {
        font-weight: 300;
        font-size: 12px;
    }

    #schedule-main table.q-table td:nth-child(2):hover,
    #schedule-main table.q-table td:nth-child(3):hover {
        cursor: pointer;
        text-decoration: underline;
    }

    #schedule-main tr td {
        border-bottom: 1px solid lightgray;
    }

    #schedule-main table.q-table.loose th, table.q-table.loose td {
        padding: 2em 3em;
    }

    #schedule-main > div:nth-child(2) {
        padding-left: 20px;
    }

    .q-btn-small .q-icon.fa-save {
        font-size: 12px;
    }
</style>
