<template>
    <div id="transactions-main">
        <div class="row" style="margin-bottom: 1em">
            <q-collapsible opened icon="fa-filter" label="Filter">
                <div class="row md-gutter">
                    <div class="col-sm-2">
                        <q-input v-model="filter.loan_id" float-label="Loan ID" clearable
                                 @change="(filter.loan_id.length >= minFilterLength && /^\d+$/.test(filter.loan_id))
                                 || filter.loan_id.length  === 0  ? filterTransactions() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.user_id" float-label="User ID" clearable
                                 @change="(filter.user_id.length >= 2 && /^\d+$/.test(filter.user_id))
                                 || filter.user_id.length === 0 ? filterTransactions() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Profile type">
                            <q-select
                                    v-model="filter.profile_type"
                                    @change="filterTransactions"
                                    :options="[{label: '',value: ''},
                                    {label: 'Borrower',value: '0'},
                                    {label: 'Lender',value: '1'}]"
                                    float-label="Type of user"
                            />
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Type of transaction">
                            <q-select
                                    v-model="filter.transaction_type"
                                    @change="filterTransactions"
                                    :options="[{label: '',value: ''},
                                    {label: 'Note Pledge',value: 1},
                                    {label: 'Loan Disbursement',value: 2},
                                    {label: 'Borrower Payback',value: 3},
                                    {label: 'Lender Payback',value: 4},
                                    {label: 'Subscription Fee',value: 5},
                                    {label: 'Risk Assessment Fee',value: 6},
                                    {label: 'Closing Fee',value: 7},
                                    {label: 'Late Fee',value: 8},
                                    {label: 'Note Refund',value: 9},
                                    {label: 'Exhausted Loan Refund',value: 10},
                                    {label: 'Cancelled Loan Refund',value: 11},
                                    {label: 'Operation Fee',value: 12},
                                    {label: 'Wire Fee',value: 13},
                                    {label: 'Transaction Refund',value: 14}]"
                                    float-label="Transaction type"
                            />
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-input v-model="filter.reference" float-label="Reference" clearable
                                 @change="(filter.reference.length >= 10 || filter.reference.length === 0) ?
                                  filterTransactions() : '' "/>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Exactly from this date">
                            <q-datetime v-model="filter.date_range.from" type="date" float-label="From"
                                        format="DD-MM-YYYY" format24h @change="filterTransactions"/>
                        </q-field>
                    </div>
                    <div class="col-sm-2">
                        <q-field helper="Exactly to this date">
                            <q-datetime v-model="filter.date_range.to" type="date" float-label="To"
                                        format="DD-MM-YYYY" format24h @change="filterTransactions"/>
                        </q-field>
                    </div>
                </div>
            </q-collapsible>
        </div>

        <div class="row" v-if="transactionsData.length">
            <json-excel
                    :data="transactionsData"
                    :fields="csv_fields"
                    class="col-sm-2"
                    type="csv"
                    name="Transactions.csv">
                <q-btn color="secondary" icon="fa-save" small
                       style="-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;">
                    Export
                </q-btn>
            </json-excel>

            <span class="col-sm-5"></span>
            <q-select
                    class="col-sm-2"
                    v-model="filter.per_page"
                    @change="filterTransactions"
                    :options="[{label: '50 per page',value: '50'},
                                    {label: '100 per page',value: '100'},
                                    {label: '200 per page',value: '200'},
                                    {label: '500 per page',value: '500'},
                                    {label: '1000 per page',value: '1000'}]"
                    style="margin-top: 0"/>
            <span class="col-sm-1"></span>

            <span class="col-sm-2" style=" font-weight: lighter; color: gray; font-size: 12px; padding-top: 14px">
                {{entries.to}} out of {{entries.total}}</span>
        </div>

        <div class="row justify-center" style="margin-top: 30px;">
            <table class="q-table responsive loose striped-odd" v-if="transactionsData.length > 0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>REFERENCE</th>
                    <th>LOAN ID</th>
                    <th>TRANSACTION TYPE</th>
                    <th>AMOUNT</th>
                    <th>USER ID</th>
                    <th class="text-center">DATE</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="(transactions, index) in transactionsData">
                    <td data-th="ID">{{transactions.id}}</td>
                    <td data-th="REFERENCE">{{transactions.confirmation}}</td>
                    <td data-th="LOAN ID" title="Click to navigate to loan details"
                        @click="gotoLoan(transactions.related_loan)"> {{transactions.related_loan}}
                    </td>
                    <td data-th="TRANS TYPE">{{transactions.transaction_type.type | formatTransType}}
                    </td>
                    <td data-th="AMOUNT">&#8358;{{transactions.amount | formatAmount}}</td>
                    <td data-th="USER ID">{{transactions.user_id}}</td>
                    <td data-th="DATE" class="text-center">{{transactions.date_created | moment("MMMM Do, YYYY hh:mm:ss A") }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <q-fixed-position corner="bottom-right" :offset="[30, 30]">
            <q-btn
                    v-back-to-top.animate="{offset: 500, duration: 200}"
                    round
                    color="dark"
                    class="animate-pop shadow-5"
                    icon="keyboard_arrow_up"
                    style="height: 30px; width:35px;"
            />
        </q-fixed-position>

        <div class="row justify-center" v-if="transactionsData.length < entries.total">
            <q-infinite-scroll :handler="refresher" :offset="500">
                <q-spinner-puff slot="message" :size="40" color="primary" style="margin-top: 30px;"></q-spinner-puff>
            </q-infinite-scroll>
        </div>

    </div>
</template>

<script>
    import {
        debounce,
        QBtn,
        QCollapsible,
        QDatetime,
        QField,
        QFixedPosition,
        QInfiniteScroll,
        QInput,
        QSelect,
        QSpinnerPuff,
    } from 'quasar-framework';
    import JsonExcel from 'vue-json-excel';

    export default {
        components: {
            QCollapsible,
            QDatetime,
            QBtn,
            QInput,
            QField,
            QInfiniteScroll,
            QSpinnerPuff,
            QFixedPosition,
            QSelect,
            JsonExcel,
        },
        data() {
            return {
                activeNames: ['1'],
                filter: {
                    loan_id: '',
                    user_id: '',
                    profile_type: '',
                    transaction_type: '',
                    reference: '',
                    date_range: {
                        from: '',
                        to: ''
                    },
                    page: 1,
                    per_page: '100'
                },
                transactionsData: [],
                text: '',
                csv_fields: {
                    "Loan ID": "loan_id",
                    "User ID": "user_id",
                    "Profile Type": "profile",
                    "Transaction Type": "transaction_type",
                    "Reference": "confirmation",
                    "Date": "date_created"
                },
                entries: {
                    to: '',
                    total: ''
                },
                minFilterLength: 3
            };
        },
        computed: {},
        mounted() {
            // this.filterTransactions();
        },
        methods: {
            fetchTransactions() {
                this.$nprogress.start();
                axios
                    .get('transactions/fetch')
                    .then(
                        function (response) {
                            this.transactionsData = response.data.data;
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            refresher(index, done) {
                this.filter.page++;
                axios
                    .get('transactions/filter', {
                        params: this.filter
                    })
                    .then(
                        function (response) {
                            this.transactionsData.push(...response.data.data);
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            done();
                            console.error(err);
                        }.bind(this)
                    );
            },
            filterTransactions: debounce(function () {
                this.$nprogress.start();
                this.filter.page = 1
                axios
                    .get('transactions/filter', {
                        params: this.filter
                    })
                    .then(
                        function (response) {
                            this.transactionsData = response.data.data;
                            this.entries.to = response.data.to
                            this.entries.total = response.data.total
                            this.$nprogress.done();
                        }.bind(this)
                    )
                    .catch(
                        function (err) {
                            this.$nprogress.done();
                            console.error(err);
                        }.bind(this)
                    );
            }, 1000),
            gotoLoan(loan_id) {
                this.$router.push({path: 'loans', query: {id: loan_id}})
            },

            // Miscellaneous

            refreshEntries() {
                this.resetFilterData();
                this.fetchTransactions();
            },
            resetFilterData() {
                this.filter.lender_id = '';
                this.filter.f_name = '';
                this.filter.l_name = '';
                this.filter.username = '';
                this.filter.phone = '';
                this.filter.email = '';
            },
            showAlert(type, message) {
                const alert = Alert.create({
                    enter: 'bounceInRight',
                    leave: 'bounceOutRight',
                    color: type,
                    html: message,
                    position: 'top-right',
                    duration: 3000
                });
                setTimeout(() => {
                    alert.dismiss();
                }, 3000);
            },
            firstCaps(string) {
                if (string == null) {
                    return;
                }
                return (
                    string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
                );
            }
        },
        filters: {
            firstCaps(string) {
                if (string == null) {
                    return;
                }
                return (
                    string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
                );
            },
            formatAmount(amount) {
                return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            formatTransType(type) {
                let fstring = ''
                let typeList = type.split('_')
                typeList.forEach((el) => {
                    fstring += el.toUpperCase() + ' '
                })
                return fstring;
            }
        }
    };
</script>

<style>
    #transactions-main {
        padding: 50px;
    }

    .q-collapsible .q-item-side > .fa-filter {
        font-size: 14px;
    }

    .q-collapsible .q-item-main {
        margin-left: 0;
    }

    .q-collapsible .q-btn-small {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .q-alert-container {
        clear: both;
    }

    textarea, textarea.q-input-target, textarea.q-input-shadow {
        overflow: auto;
        overflow-x: auto;
        overflow-y: auto;
    }

    #transactions-main th {
        font-weight: 300;
        font-size: 12px;
    }

    #transactions-main table.q-table td:nth-child(4) {
        font-size: 14px;
        font-weight: bold;
    }

    #transactions-main table.q-table td:nth-child(3):hover {
        cursor: pointer;
        text-decoration: underline;
    }

    #transactions-main table.q-table.loose th, table.q-table.loose td {
        padding: 2em 2.3em;
    }

    #transactions-main > div:nth-child(2) {
        padding-left: 20px;
    }
    .q-btn-small .q-icon.fa-save {
        font-size: 12px;
    }

</style>
