// Fonts
@font-face {
  font-family: 'Avenir Medium';
  src: url('/fonts/AvenirLTStd-Medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/AvenirLTStd-Medium.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/AvenirLTStd-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avenir Book';
  src: url('/fonts/AvenirLTStd-Book.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/AvenirLTStd-Book.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/AvenirLTStd-Book.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avenir Light';
  src: url('/fonts/AvenirLTStd-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/AvenirLTStd-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avenir Next Thin';
  src: url('/fonts/avenir-next-thin.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/avenir-next-thin.ttf') format('truetype'); /* Safari, Android, iOS */
}